data/Job_Application_Automator_v6.json
{
  "name": "Job Application Automator v6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "759bfda4-e80d-47ed-80d2-5ce890ec1498",
      "name": "Schedule Trigger (Daily 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        304,
        976
      ],
      "notes": "Runs automatically Monday–Friday at 8am. Disable this node if you only want manual runs."
    },
    {
      "parameters": {},
      "id": "9fef37fa-564f-4927-9fa4-89430d77e768",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        304,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a71b4911-993d-48f0-88cb-dc1c791c0ab7",
              "name": "linkedInUrl",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Salesforce%20Developer%20OR%20Software%20Developer%20OR%20Werkstudent%20Softwareentwicklung%20OR%20Junior%20Developer%20OR%20Backend%20Developer&location=Germany&geoId=101282230&f_JT=F%2CP%2CC%2CI&f_E=1%2C2%2C3%2C4&f_TPR=r2592000&f_WT=1%2C3%2C2&position=1&pageNum=0",
              "type": "string"
            },
            {
              "id": "c24756b1-085f-4ce5-b682-5ea871b2fcc6",
              "name": "indeedUrl",
              "value": "http://de.indeed.com/jobs?q=salesforce+developer&l=Deutschland&sc=0kf%3Aattr%285QWDV%7CCF3CP%7CT9BXE%252COR%29attr%28DSQF7%7CPAXZC%252COR%29%3B&from=searchOnDesktopSerp&vjk=461f86220eea0387",
              "type": "string"
            },
            {
              "id": "1262f41a-c33b-4582-97a0-43c50e8a6b4f",
              "name": "stepstoneUrl",
              "value": "https://www.stepstone.de/jobs/salesforce-developer",
              "type": "string"
            },
            {
              "id": "ed066004-74a2-4b0e-861c-8f9f90cd67d0",
              "name": "XingUrl",
              "value": "https://www.xing.com/jobs/search?id=4921caec981101172481e48214f3f948&sort=date&employmentType=PART_TIME.58889d*INTERN.dc571c*FULL_TIME.ef2fe9&careerLevel=1.795d28*3.2ebf16",
              "type": "string"
            },
            {
              "id": "3a643fdf-caa2-4581-916c-2ca7a6130f35",
              "name": "jobCount",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "dba8da93-ef29-4bde-9f8b-90d6b6c58d4a",
      "name": "1. Job Search URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        896
      ],
      "notes": "Update these URLs to change what jobs are scraped. LinkedIn URL covers: Salesforce, Software Dev, Werkstudent, Junior, Backend roles in Germany. Add more OR terms to broaden further."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input",
          "mode": "url"
        },
        "customBody": "={\n  \"count\": {{ $json.jobCount }},\n  \"scrapeCompany\": true,\n  \"urls\": [\"{{ $json.linkedInUrl }}\"]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        416
      ],
      "id": "399523f6-daa7-4797-8a53-b16e3cb62c42",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "LinkedIn scraper — count increased to 50 for broader coverage."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/TrtlecxAsNRbKl1na/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"de\",\n  \"limit\": {{ $json.jobCount }},\n  \"location\": \"Germany\",\n  \"title\": \"Salesforce Developer OR Software Developer OR Werkstudent Entwickler OR Junior Developer OR Backend Developer\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        608
      ],
      "id": "121a60d8-e575-40a5-a987-9e9cd143b943",
      "name": "Run an Actor and get dataset1",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Indeed scraper — broadened to cover Salesforce, Software Dev, Werkstudent, Junior, Backend roles."
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "e079d00d-8394-4d95-a221-c00ccba2d1b5",
      "name": "2c. Wait for All Scrapers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        976,
        752
      ],
      "notes": "Waits for both Apify scrapers to finish before normalizing."
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// NORMALIZE & DEDUP — Config-based adapter for any job board\n// To add a new board: add an entry to BOARD_CONFIG, wire the\n// Apify node to this Code node, done. Nothing else changes.\n// ═══════════════════════════════════════════════════════════════\n\nconst BOARD_CONFIG = {\n  'Run an Actor and get dataset': {\n    source: 'LinkedIn',\n    fields: {\n      id:          'id',\n      title:       ['title', 'jobTitle'],\n      company:     ['companyName', 'company'],\n      location:    'location',\n      description: ['descriptionText', 'description'],\n      url:         ['link', 'url'],\n      applyUrl:    ['applyUrl', 'link'],\n      postedAt:    'postedAt',\n      salary:      'salary',\n      remote:      'workRemoteAllowed',\n      seniority:   ['seniorityLevel', 'seniority'],\n      country:     'country',\n    }\n  },\n  'Run an Actor and get dataset1': {\n    source: 'Indeed',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'employer.name',\n      location:    'location.city',\n      description: 'description.text',\n      url:         ['url', 'jobUrl'],\n      applyUrl:    ['url', 'jobUrl'],\n      postedAt:    'datePublished',\n      salary:      null,\n      remote:      null,\n      seniority:   null,\n      country:     'location.countryCode',\n    }\n  },\n  'Run an Actor and get dataset2': {\n    source: 'StepStone',\n    fields: {\n      id:          'id',\n      title:       'title',\n      company:     'company_details.company_name',\n      location:    'workplace_details.job_location',\n      description: 'content_details.full_description',\n      url:         'source.url',\n      applyUrl:    'detail_page.applying_details.applying_url',\n      postedAt:    'posting_details.published_at',\n      salary:      'compensation_details.detail_salary',\n      remote:      'workplace_details.work_arrangement',\n      seniority:   null,\n      country:     null,  // StepStone.de is DACH-only — skip code filter\n    }\n  },\n  'Run an Actor and get dataset3': {\n    source: 'Glassdoor',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'company.companyName',\n      location:    'location_city',\n      description: 'description_text',\n      url:         'jobUrl',\n      applyUrl:    'applyUrl',\n      postedAt:    'datePublished',\n      salary:      null,  // flat baseSalary_min/max handled in extractSalary\n      remote:      'remoteWorkTypes',\n      seniority:   null,\n      country:     null,  // location_country is \"Germany\" not a code; Glassdoor.de is DACH-only\n    }\n  },\n  'Run an Actor and get dataset4': {\n    source: 'Xing',\n    fields: {\n      id:          'job_id',\n      title:       'title',\n      company:     'company',\n      location:    'location',\n      description: 'description_text',\n      url:         'url',\n      applyUrl:    'apply_url',\n      postedAt:    'date_posted',\n      salary:      'salary',\n      remote:      'remote',\n      seniority:   null,\n      country:     'location_country_code',\n    }\n  },\n};\n\nconst ALLOWED_COUNTRIES = new Set(['DE', 'AT', 'CH', 'NL', 'BE', '']);\n\nfunction getNestedValue(obj, path) {\n  if (!path) return undefined;\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined) ? o[k] : undefined, obj);\n}\n\nfunction resolveField(obj, mapping) {\n  if (mapping === null || mapping === undefined) return '';\n  if (Array.isArray(mapping)) {\n    for (const path of mapping) {\n      const val = getNestedValue(obj, path);\n      if (val !== undefined && val !== null && val !== '') return val;\n    }\n    return '';\n  }\n  return getNestedValue(obj, mapping) || '';\n}\n\nfunction extractSalary(obj, config) {\n  const raw = resolveField(obj, config.fields.salary);\n  // Already a string (Xing, LinkedIn)\n  if (raw && typeof raw === 'string' && raw.length > 0) return raw;\n  // StepStone: { min, max, currency, period }\n  if (raw && typeof raw === 'object' && raw.min) {\n    const { min, max, currency, currencyIso, period } = raw;\n    return `${currency || currencyIso || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  // LinkedIn: baseSalary nested object\n  if (obj.baseSalary && obj.baseSalary.min) {\n    const { min, max, currencyCode, unitOfWork } = obj.baseSalary;\n    return `${currencyCode || ''} ${min}-${max}/${unitOfWork || ''}`.trim();\n  }\n  // Glassdoor: flat baseSalary_min / baseSalary_max fields\n  if (obj.baseSalary_min) {\n    const { baseSalary_min: min, baseSalary_max: max, salary_currency: cur, salary_period: period } = obj;\n    return `${cur || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  return '';\n}\n\nconst jobs = [];\n\nfor (const [nodeName, config] of Object.entries(BOARD_CONFIG)) {\n  let items;\n  try {\n    items = $(nodeName).all();\n  } catch (e) {\n    continue;\n  }\n  if (!items || items.length === 0) continue;\n\n  for (const item of items) {\n    const d = item.json;\n    if (!d || typeof d !== 'object') continue;\n\n    const desc = String(resolveField(d, config.fields.description));\n    if (desc.length < 20) continue;\n\n    const country = String(resolveField(d, config.fields.country) || '').toUpperCase();\n    if (country && !ALLOWED_COUNTRIES.has(country)) continue;\n\n    jobs.push({\n      source:      config.source,\n      id:          String(resolveField(d, config.fields.id)),\n      title:       String(resolveField(d, config.fields.title)),\n      company:     String(resolveField(d, config.fields.company)),\n      location:    String(resolveField(d, config.fields.location)),\n      description: desc,\n      url:         String(resolveField(d, config.fields.url)),\n      applyUrl:    String(resolveField(d, config.fields.applyUrl)),\n      postedAt:    String(resolveField(d, config.fields.postedAt)),\n      salary:      extractSalary(d, config),\n      remote:      Boolean(resolveField(d, config.fields.remote)),\n      seniority:   String(resolveField(d, config.fields.seniority)),\n    });\n  }\n}\n\nconst seen = new Set();\nconst unique = [];\nfor (const job of jobs) {\n  const key = job.applyUrl || `${job.company}::${job.title}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(job);\n}\n\nif (unique.length === 0) {\n  return [{ json: { error: 'No valid jobs after normalize + dedup. Check Apify outputs and country filter.', rawCount: jobs.length } }];\n}\n\nreturn unique.map(j => ({ json: j }));"
      },
      "id": "7de48647-23e7-45c9-b7f3-b9a394c4f865",
      "name": "3. Normalize & Merge Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        800
      ],
      "notes": "Normalizes LinkedIn + Indeed output into a standard shape. Deduplicates by URL. Filters to DACH + Benelux countries."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "options": {}
      },
      "id": "aaa334dc-7b3a-4691-8964-3b2497b7b599",
      "name": "6a. Read Applied Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        976,
        1168
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      },
      "notes": "Runs in parallel with scrapers from node 1. Execute Once = single Sheets API call."
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length === 0) {\n  return [{ json: { _emptySheet: true } }];\n}\nreturn rows;"
      },
      "id": "6f08cd1e-06f4-4d5a-b5d8-341c00bb04a2",
      "name": "6a.1. Ensure Not Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1168
      ],
      "notes": "Passes a placeholder when sheet is empty so the Sync Merge always fires on first run."
    },
    {
      "parameters": {},
      "id": "2c79ba90-f556-46ed-ac37-a7b292271817",
      "name": "6c. Sync Jobs + Sheet",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1424,
        976
      ],
      "notes": "Waits for node 3 (jobs) and 6a.1 (sheet) before running dedup. Prevents empty-sheet blocking."
    },
    {
      "parameters": {
        "jsCode": "// Get all scraped jobs from normalize step\nconst jobs = $('3. Normalize & Merge Jobs').all();\n\n// Build set of already-seen job URLs from Sheets\nconst seenUrls = new Set();\ntry {\n  const sheetRows = $('6a. Read Applied Jobs').all();\n  for (const row of sheetRows) {\n    // Only suppress URLs for jobs that were actually processed (not skipped)\n    // Skipped rows (Applied = 'N/A') should remain eligible for re-evaluation\n    if ((row.json['Applied'] || '').trim() === 'N/A') continue;\n    const url = (row.json['Job URL'] || '').trim();\n    if (url) seenUrls.add(url);\n  }\n} catch (e) {\n  // Sheet is empty on first run — that's fine\n}\n\n// Filter to only new jobs not yet in Sheets\nconst newJobs = jobs.filter(job => {\n  const url = (job.json.url || job.json.applyUrl || '').trim();\n  return url && !seenUrls.has(url);\n});\n\nif (newJobs.length === 0) {\n  return [{ json: { skipped: true, message: 'No new jobs — all already logged in Sheets', totalScraped: jobs.length } }];\n}\n\nconsole.log(`New jobs to process: ${newJobs.length} / ${jobs.length} scraped`);\nreturn newJobs;"
      },
      "id": "be4db8de-8dc6-486f-9e73-50ce96ac94b3",
      "name": "6b. Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        976
      ],
      "notes": "Removes jobs already in your Google Sheet. Prevents duplicate applications across runs."
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/context",
        "options": {
          "timeout": 10000
        }
      },
      "id": "57e4760b-850d-4f9d-ae73-aa4c3aba9371",
      "name": "4. GET Resume Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        976
      ],
      "continueOnFail": true,
      "notes": "Fetches base resume as clean text from your local server. Uses host.docker.internal to reach localhost:3000 from inside Docker."
    },
    {
      "parameters": {
        "jsCode": "const resumeItem = $('4. GET Resume Context').first();\n// If the resume server is down, continueOnFail gives us an error item.\n// Fall back to an empty resume object so the pipeline can still run and log jobs.\nconst resumeContext = (resumeItem.json && !resumeItem.json.error)\n  ? resumeItem.json\n  : {};\n\nconst jobs = $('6b. Filter Duplicates').all();\n\nreturn jobs.map(job => ({\n  json: {\n    ...job.json,\n    resume: resumeContext,\n    _resumeFallback: Object.keys(resumeContext).length === 0\n  }\n}));"
      },
      "id": "62b699cf-3a7c-441d-b5b1-8a00942f9523",
      "name": "5. Attach Resume to Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        976
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\n// Skip non-job items safely\nif (item.skipped || item.error) {\n  return {\n    json: {\n      ...item,\n      _skip: true,\n    },\n  };\n}\n\n// MUST include \"JSON\" for Groq response_format\nconst systemPrompt = `You are a job-match filter.\n\nReturn ONLY valid JSON. No explanation, no text outside JSON.\n\nOutput format:\n{\n  \"match\": true or false,\n  \"confidence\": number (0-100),\n  \"reason\": \"one short line\",\n  \"jobType\": \"internship|werkstudent|full-time|contract|unknown\"\n}\n\nRules:\n- Be LENIENT (Germany job search context)\n- match=true if ANY:\n  - 40%+ skill overlap\n  - internship/Werkstudent (almost always true)\n  - junior/entry roles\n  - transferable software/backend skills\n- match=false ONLY if:\n  - completely unrelated field (law, finance, medical, etc.)\n  - pure ML/Data Science role (unless mixed with software dev)\n  - strict senior role (6+ years AND narrow specialization)\n`;\n\n// ===== Helper =====\nconst clean = (s) => (s || '').replace(/\\s+/g, ' ').trim();\n\n// ===== Resume Data =====\nconst skills = (item.resume?.currentSkills || [])\n  .map(s => s?.skill || '')\n  .filter(Boolean)\n  .join(', ');\n\nconst education = (item.resume?.education || [])\n  .map(e =>\n    `${e.degree || ''} ${e.field || ''} at ${e.institution || ''} (${e.year || ''})`.trim()\n  )\n  .join('; ');\n\nconst recentWork = (item.resume?.workExperience || [])\n  .slice(0, 2)\n  .map(w =>\n    `${w.title || ''} at ${w.company || ''}: ${(w.summary || '').slice(0, 120)}`\n  )\n  .join(' | ');\n\n// ===== Smart JD Extraction (EN + DE aware) =====\nconst jdRaw = item.description || '';\nconst jd = clean(jdRaw);\n\n// Split by important sections (English + German)\nconst parts = jd.split(\n  /requirements|qualifications|your profile|anforderungen|qualifikationen|profil|was Sie mitbringen|was du mitbringst/i\n);\n\n// Pick best section or fallback\nlet jdImportant =\n  parts.length > 1 && parts[1].trim().length > 120\n    ? parts[1]\n    : jd;\n\n// Add intro for context only if meaningful\nconst intro = jd.length > 400 ? jd.slice(0, 300) : '';\n\n// Combine intro + requirements\njdImportant = intro\n  ? `${intro}\\n\\n${jdImportant}`\n  : jdImportant;\n\n// Remove HTML tags if present\njdImportant = jdImportant.replace(/<[^>]+>/g, '');\n\n// Final cap for token safety\njdImportant = jdImportant.slice(0, 1500);\n\n// ===== Build User Prompt =====\nconst userMsg = `Candidate:\nTitle: ${item.resume?.currentJobTitle || 'Software Developer'}\nLocation: Germany\n\nEducation:\n${education || 'MSc Global Software Development, Hochschule Fulda Germany'}\n\nRecent Work:\n${recentWork || 'N/A'}\n\nSkills:\n${skills || 'N/A'}\n\nJob:\n${item.title} at ${item.company}\nLocation: ${item.location}\nSeniority: ${item.seniority || 'unspecified'}\n\nJob Description:\n${jdImportant}`;\n\n// ===== Final Output =====\nreturn {\n  json: {\n    ...item,\n    _groqBody: {\n      model: 'llama-3.1-8b-instant',\n      temperature: 0.1,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg },\n      ],\n    },\n  },\n};"
      },
      "id": "e27b4387-4c4b-424a-9812-3d7941ed7216",
      "name": "7a. Build Match Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        848
      ],
      "notes": "Builds Groq API request body. Outputs _groqApiKey + _groqBody for HTTP Request node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._groqBody) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9df6b588-64d5-4cae-ab9b-3577e61074ef",
      "name": "7b. Groq API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "position": [
        2768,
        848
      ],
      "credentials": {
        "groqApi": {
          "id": "0h06hfXG29GT9ek8",
          "name": "Groq account"
        }
      },
      "continueOnFail": true,
      "notes": "Calls Groq API. n8n native retry: 3x, 10s wait. No sandbox fetch issues."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 8. Parse Match Result\n\nconst aiResponse = $json;\nconst jobData = $('7a. Build Match Prompt').item.json;\nconst { _groqBody, ...cleanJobData } = jobData;\n\n// Handle rate limit or API error from node 7b\nif (aiResponse.error) {\n  return {\n    json: {\n      ...cleanJobData,\n      matchResult: {\n        match: false,\n        confidence: 0,\n        reason: 'Groq API error: ' + (aiResponse.error.message || 'unknown'),\n        jobType: 'unknown',\n        _apiError: true,\n      },\n    },\n  };\n}\n\ntry {\n  const content = aiResponse.choices[0].message.content;\n  const result = JSON.parse(content);\n  return {\n    json: {\n      ...cleanJobData,\n      matchResult: result,\n    },\n  };\n} catch (err) {\n  return {\n    json: {\n      ...cleanJobData,\n      matchResult: {\n        match: true,\n        confidence: 50,\n        reason: 'AI parse error - defaulting to match: ' + err.message,\n        jobType: 'unknown',\n      },\n    },\n  };\n}"
      },
      "id": "99e5cc32-13b7-4f7f-a622-425db6145279",
      "name": "8. Parse Match Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "match-check",
              "leftValue": "={{ $json.matchResult.match }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "confidence-check",
              "leftValue": "={{ $json.matchResult.confidence }}",
              "rightValue": 45,
              "operator": {
                "type": "number",
                "operation": "gte",
                "singleValue": true
              }
            },
            {
              "id": "2c3865cd-05eb-4bba-9ee0-497e9d2f6e42",
              "leftValue": "={{ $json.matchResult?._apiError }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "331f62b7-f2b4-42c0-b503-aa9894ebe488",
      "name": "9. Is Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3440,
        848
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 10a. Build Tailor Prompt — production-grade version\n\nconst item = $json;\nconst staticData = $getWorkflowStaticData('global');\n\n// ===== Rate limiting =====\nconst PRE_CALL_DELAY_MS = 6000;\nconst lastCall = staticData.lastOpenAICallAt || 0;\nconst elapsed = Date.now() - lastCall;\nif (elapsed < PRE_CALL_DELAY_MS) {\n  await new Promise(r => setTimeout(r, PRE_CALL_DELAY_MS - elapsed));\n}\nstaticData.lastOpenAICallAt = Date.now();\n\n// ===== Helpers =====\nconst clean = (s) => (s || '').replace(/\\s+/g, ' ').trim();\nconst stripHtml = (s) => (s || '').replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n\n// ===== Smart JD extraction =====\nconst jdRaw = item.description || '';\nconst jd = clean(jdRaw);\n\nconst parts = jd.split(\n  /requirements|qualifications|your profile|anforderungen|qualifikationen|profil|was Sie mitbringen|was du mitbringst/i\n);\n\nlet jdImportant =\n  parts.length > 1 && parts[1].trim().length > 120\n    ? parts[1]\n    : jd;\n\nconst intro = jd.length > 400 ? jd.slice(0, 300) : '';\n\njdImportant = intro\n  ? `${intro}\\n\\n${jdImportant}`\n  : jdImportant;\n\njdImportant = jdImportant.replace(/<[^>]+>/g, '').slice(0, 1800).trim();\n\n// ===== Strip HTML from resume input =====\n// Prevents model from confusing input HTML with output format instructions\nconst workClean = (item.resume?.currentWork || []).map(w => ({\n  ...w,\n  description: stripHtml(w.description),\n}));\n\nconst skillsClean = (item.resume?.currentSkills || []).map(s => ({\n  ...s,\n  infoHtml: stripHtml(s.infoHtml),\n}));\n\n// ===== System Prompt =====\nconst systemPrompt = `You are an expert resume and cover letter writer for tech jobs in Germany.\n\nYour goal is NOT to write nicely — your goal is to maximize interview callback rate.\n\nThe output MUST be strictly valid JSON.\n- No text before or after the JSON object\n- No comments\n- No trailing commas\n- No additional keys beyond the schema\n\n========================\nRESUME PATCH RULES\n========================\n\nGENERAL:\n- ONLY modify sections that improve relevance to this specific job\n- DO NOT invent experience, skills, or tools not already in the resume\n- Preserve original meaning — only optimize wording and relevance\n- Make minimal edits for maximum impact\n- Each sentence must add new information — no filler, no repetition\n- Avoid generic statements that could apply to any company or role\n\nPROFILE (3–4 sentences):\n- Mention MSc Global Software Development (Hochschule Fulda, Germany)\n- Align current title to the job role\n- Highlight core tech stack matching the job description\n- Clearly state target role\n\nWORK EXPERIENCE:\n- Incorporate keywords from the job description ONLY when natural\n- Prefer exact wording for tools/technologies (ATS optimization)\n- DO NOT force keywords if it harms readability\n- Focus on technologies used and measurable impact\n- Start bullets with action or outcome when possible\n- Use action verbs: Built, Implemented, Optimized, Designed, Automated, Reduced, Delivered\n- NEVER use: \"worked on\", \"responsible for\", \"helped with\", \"assisted\", \"was involved in\"\n\nSKILLS:\n- Prioritize and reorder skills based on job relevance\n- Align wording with job description terminology\n\nSTRICT:\n- Keep all entry IDs exactly as given — never modify or omit them\n- Do not create new entries or sections\n- Do not remove existing entries\n- HTML formatting ONLY where required by schema\n\n========================\nCOVER LETTER RULES (GERMANY STYLE)\n========================\n\n- EXACTLY 3 paragraphs\n- 180–220 words total\n- Plain text only\n\nP1:\n- State role and company name\n- Mention MSc Hochschule Fulda (Germany)\n- Start with a strong, specific hook tied to relevant experience\n\nP2:\n- 2–3 concrete skills or project outcomes aligned with the job\n- Include specific technologies and results\n- No generic claims\n\nP3:\n- Clearly state availability (internship / Werkstudent / full-time)\n- Match jobType context\n- End with a confident and direct closing\n\nSTRICT:\n- No clichés: \"passionate\", \"excited\", \"team player\", \"fast learner\", \"driven\"\n- No greetings, no date, no subject line, no sign-off\n- No repetition of resume bullets\n- Avoid generic statements\n- Each sentence must add value\n- If job requires German and resume does not show it → do NOT claim German skills\n\n========================\nOUTPUT FORMAT (STRICT JSON)\n========================\n\n{\n  \"patch\": {\n    \"jobTitle\": \"string (omit key if unchanged)\",\n    \"profile\": \"<p>...</p> (omit key if no improvement)\",\n    \"work\": [\n      {\n        \"id\": \"existing-id\",\n        \"description\": \"<ul><li><p>...</p></li></ul>\"\n      }\n    ],\n    \"skills\": [\n      {\n        \"id\": \"existing-id\",\n        \"infoHtml\": \"<p>...</p>\"\n      }\n    ]\n  },\n  \"coverLetter\": \"paragraph one\\\\n\\\\nparagraph two\\\\n\\\\nparagraph three\"\n}\n\n========================\nFINAL RULES\n========================\n\n- Always make at least one meaningful improvement if possible\n- Only return an empty patch if absolutely no improvement can be made\n- Ensure JSON is valid and parseable\n- Do not include any text outside the JSON object`;\n\n// ===== User Message =====\nconst userMsg = `RESUME:\nTitle: ${item.resume?.currentJobTitle || ''}\nProfile: ${stripHtml(item.resume?.currentProfile || '')}\nWork: ${JSON.stringify(workClean)}\nSkills: ${JSON.stringify(skillsClean)}\n\nJOB DETAILS:\nRole: ${item.title}\nCompany: ${item.company}\nLocation: ${item.location}\nSeniority: ${item.seniority || 'unspecified'}\nType: ${item.matchResult?.jobType || 'unknown'}\n\nJOB DESCRIPTION:\n${jdImportant}`;\n\n// ===== Final Output =====\nreturn {\n  json: {\n    ...item,\n    _openAIBody: {\n      model: 'gpt-4o-mini',\n      temperature: 0.3,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg },\n      ],\n    },\n  },\n};"
      },
      "id": "112977c8-0c43-45fe-a1c7-6b95a7a04830",
      "name": "10a. Build Tailor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        752
      ],
      "notes": "Builds OpenAI request body with throttle. Outputs _openAIApiKey + _openAIBody for HTTP Request node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._openAIBody) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "f6229fee-c5ab-4190-87d5-26d07aef1ad1",
      "name": "10b. OpenAI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "position": [
        3888,
        752
      ],
      "credentials": {
        "openAiApi": {
          "id": "wwjiHkXU7KZB6LWb",
          "name": "OpenAi account"
        }
      },
      "notes": "Calls OpenAI API. n8n native retry: 3x, 12s wait. No sandbox fetch issues."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Single combined AI call returns both patch and coverLetter\n\n// Current item = OpenAI HTTP response for this job\nconst aiResponse = $json;\n\n// Original job from 10a, matched by index\nconst jobData = $('10a. Build Tailor Prompt').item.json;\n\nlet patch = {};\nlet coverLetter = '';\n\ntry {\n  if (!aiResponse?.choices?.[0]?.message?.content) {\n    throw new Error('No choices in AI response — possible rate limit or API error');\n  }\n  const result = JSON.parse(aiResponse.choices[0].message.content);\n  patch = result.patch || {};\n  coverLetter = result.coverLetter || '';\n} catch (err) {\n  patch = { _error: 'AI parse failed: ' + err.message };\n  coverLetter = '';\n}\n\nconst rawParts = (coverLetter || '')\n  .split(/\\n\\n+/)\n  .map(p => p.trim())\n  .filter(p => p.length > 0);\n\nlet paragraph1 = rawParts[0] || '';\nlet paragraph2 = rawParts[1] || '';\nlet paragraph3 = rawParts[2] || '';\nlet _coverLetterWarning = '';\n\nif (rawParts.length === 0) {\n  _coverLetterWarning = 'AI returned empty cover letter';\n} else if (rawParts.length < 3) {\n  _coverLetterWarning = `Cover letter has ${rawParts.length} paragraph(s), expected 3`;\n  if (rawParts.length === 1 && rawParts[0].length > 100) {\n    const sentences = rawParts[0].split(/(?<=[.!?])\\s+/);\n    if (sentences.length >= 3) {\n      const third = Math.floor(sentences.length / 3);\n      paragraph1 = sentences.slice(0, third).join(' ');\n      paragraph2 = sentences.slice(third, third * 2).join(' ');\n      paragraph3 = sentences.slice(third * 2).join(' ');\n      _coverLetterWarning += ' — recovered via sentence split';\n    }\n  }\n}\n\nreturn {\n  json: {\n    patch,\n    coverLetter,\n    paragraph1,\n    paragraph2,\n    paragraph3,\n    _coverLetterWarning,\n    job: {\n      source:          jobData.source || '',\n      title:           jobData.title || '',\n      company:         jobData.company || '',\n      location:        jobData.location || '',\n      url:             jobData.url || '',\n      applyUrl:        jobData.applyUrl || '',\n      postedAt:        jobData.postedAt || '',\n      salary:          jobData.salary || '',\n      jobType:         jobData.matchResult?.jobType || 'unknown',\n      matchConfidence: jobData.matchResult?.confidence || 0,\n      matchReason:     jobData.matchResult?.reason || '',\n    },\n  },\n};"
      },
      "id": "0cdce420-86d6-4a33-b845-23fb9bd2e675",
      "name": "11. Parse AI Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        752
      ],
      "notes": "Reads combined patch+coverLetter from single node 10. Handles missing/failed AI responses gracefully."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/generate-resume",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ patch: $json.patch, company: $json.job.company }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "d36ff688-70f0-456b-b56a-878a3cbfe3e9",
      "name": "12. POST Generate Resume PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4336,
        752
      ],
      "continueOnFail": true,
      "notes": "Sends JSON patch to local server. Server merges into base resume, opens FlowCV via Playwright, downloads PDF."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const patchData = $('11. Parse AI Patch').item.json;\nconst resumeResult = $('12. POST Generate Resume PDF').item.json;\n\n// Current item = cover letter HTTP response\nconst coverLetterResult = $json;\n\nconst now = new Date();\n\nreturn {\n  json: {\n    Date:               now.toISOString().slice(0, 19),\n    Company:            patchData.job.company || '',\n    Role:               patchData.job.title || '',\n    'Job Type':         patchData.job.jobType || '',\n    Location:           patchData.job.location || '',\n    Source:             patchData.job.source || '',\n    'Job URL':          patchData.job.url || '',\n    'Apply URL':        patchData.job.applyUrl || '',\n    'Match Confidence': patchData.job.matchConfidence || 0,\n    'Match Reason':     patchData.job.matchReason || '',\n    'Resume File':      resumeResult.file || '',\n    'Cover Letter File': coverLetterResult.file || '',\n    Status:             (resumeResult.success && coverLetterResult.success) ? 'Generated' : 'PDF Failed',\n    Applied:            'No',\n    Response:           '',\n    Interview:          '',\n    Notes:              patchData.patch?._error || patchData._coverLetterWarning || '',\n  },\n};"
      },
      "id": "2419871a-0fba-4119-a97d-efccafe18b4b",
      "name": "13. Prepare Sheet Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4784,
        752
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Confidence",
              "displayName": "Match Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume File",
              "displayName": "Resume File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter File",
              "displayName": "Cover Letter File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "53577897-8d47-4aeb-b752-e49cc034adec",
      "name": "14. Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5008,
        928
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      },
      "notes": "SETUP: Update your Sheet headers to: Date, Company, Role, Job Type, Location, Source, Job URL, Apply URL, Match Confidence, Match Reason, Resume File, Cover Letter, Status, Applied, Response, Interview, Notes"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $json;\n\nconst now = new Date();\n\nreturn {\n  json: {\n    Date:               now.toISOString().slice(0, 19),\n    Company:            jobData.company || '',\n    Role:               jobData.title || '',\n    'Job Type':         jobData.matchResult?.jobType || '',\n    Location:           jobData.location || '',\n    Source:             jobData.source || '',\n    'Job URL':          jobData.url || '',\n    'Apply URL':        jobData.applyUrl || '',\n    'Match Confidence': jobData.matchResult?.confidence || 0,\n    'Match Reason':     jobData.matchResult?.reason || '',\n    'Resume File':      '',\n    'Cover Letter File': '',\n    Status:             'Skipped - No Match',\n    Applied:            'N/A',\n    Response:           '',\n    Interview:          '',\n    Notes:              ''\n  }\n};"
      },
      "id": "209d6dfa-ceab-4697-ae17-314c1ece9f31",
      "name": "15. Prepare Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        944
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Confidence",
              "displayName": "Match Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume File",
              "displayName": "Resume File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter File",
              "displayName": "Cover Letter File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dbb287ce-b434-4721-8903-651c95606581",
      "name": "16. Log Skipped to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3888,
        944
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/IGjzUXKHqlsJaT58u/input",
          "mode": "url"
        },
        "customBody": "={\n  \"employmentType\": [\n    \"PERMANENT_POSITION\",\n    \"FIXED_TERM_CONTRACT\",\n    \"ENTRY_LEVEL_TRAINEE\",\n    \"STUDENT_JOB_WORKING_STUDENT\",\n    \"INTERNSHIP\"\n  ],\n  \"limit\": {{ $json.jobCount }},\n  \"startUrls\": [\n    \"{{ $json.stepstoneUrl }}\"\n  ],\n  \"domain\": \"stepstone.de\",\n  \"distanceFromSource\": \"30\",\n  \"workRemote\": [],\n  \"ApplicationType\": [],\n  \"listingLanguage\": [],\n  \"WorkingHours\": [],\n  \"experience\": [],\n  \"publishedDate\": \"\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        800
      ],
      "id": "6eeca55e-a188-47bf-994e-7777686d2483",
      "name": "Run an Actor and get dataset2",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "StepStone scraper — employment types + remote filter configured."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/bYSAbQqxwImLaf2nb/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"Germany\",\n  \"datePosted\": \"3\",\n  \"deepSearch\": false,\n  \"includeNoSalaryJob\": true,\n  \"keywords\": [\n    \"Salesforce Developer, Software Engineer\"\n  ],\n  \"location\": \"Germany\",\n  \"maxItems\": {{ $json.jobCount }},\n  \"saveOnlyUniqueItems\": false\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        992
      ],
      "id": "e57b5866-017f-4dbe-a634-2821cffb34a4",
      "name": "Run an Actor and get dataset3",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Glassdoor scraper — keywords, country=Germany, datePosted=3 days."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/YGO6eh6ICQXnan9L4/input",
          "mode": "url"
        },
        "customBody": "={\n  \"results_wanted\": {{ $json.jobCount }},\n  \"startUrl\": \"{{ $json.XingUrl }}\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        1280
      ],
      "id": "fb7261de-8249-4299-8503-39fb0a9c27a6",
      "name": "Run an Actor and get dataset4",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Xing scraper — results_wanted from jobCount, startUrl from XingUrl."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/generate-coverletter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: $(\"11. Parse AI Patch\").item.json.job.title, company: $(\"11. Parse AI Patch\").item.json.job.company, companyAddress: $(\"11. Parse AI Patch\").item.json.job.location, paragraph1: $(\"11. Parse AI Patch\").item.json.paragraph1, paragraph2: $(\"11. Parse AI Patch\").item.json.paragraph2, paragraph3: $(\"11. Parse AI Patch\").item.json.paragraph3 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "7772bcdb-00e5-458c-8c3d-eca10a1245f1",
      "name": "12b. POST Generate Cover Letter PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        752
      ],
      "continueOnFail": true,
      "notes": "Sends cover letter paragraphs to local server. Renders HTML and exports PDF via Playwright."
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2320,
        976
      ],
      "id": "ca427db5-945c-4adb-b225-6af2b733c05f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2992,
        848
      ],
      "id": "4e16d68e-3b7d-48c4-bfea-47d75dac7b77",
      "name": "Wait",
      "webhookId": "4798fc68-5ccc-4194-8beb-8cf9be816efc"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Daily 8am)": {
      "main": [
        [
          {
            "node": "1. Job Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Workflow": {
      "main": [
        [
          {
            "node": "1. Job Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Job Search URLs": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset1",
            "type": "main",
            "index": 0
          },
          {
            "node": "6a. Read Applied Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset1": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "2c. Wait for All Scrapers": {
      "main": [
        [
          {
            "node": "3. Normalize & Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Normalize & Merge Jobs": {
      "main": [
        [
          {
            "node": "6c. Sync Jobs + Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6a. Read Applied Jobs": {
      "main": [
        [
          {
            "node": "6a.1. Ensure Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6b. Filter Duplicates": {
      "main": [
        [
          {
            "node": "4. GET Resume Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. GET Resume Context": {
      "main": [
        [
          {
            "node": "5. Attach Resume to Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Attach Resume to Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Parse Match Result": {
      "main": [
        [
          {
            "node": "9. Is Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Is Match?": {
      "main": [
        [
          {
            "node": "10a. Build Tailor Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15. Prepare Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Parse AI Patch": {
      "main": [
        [
          {
            "node": "12. POST Generate Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. POST Generate Resume PDF": {
      "main": [
        [
          {
            "node": "12b. POST Generate Cover Letter PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Prepare Sheet Log": {
      "main": [
        [
          {
            "node": "14. Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Prepare Skip Log": {
      "main": [
        [
          {
            "node": "16. Log Skipped to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6a.1. Ensure Not Empty": {
      "main": [
        [
          {
            "node": "6c. Sync Jobs + Sheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "6c. Sync Jobs + Sheet": {
      "main": [
        [
          {
            "node": "6b. Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7a. Build Match Prompt": {
      "main": [
        [
          {
            "node": "7b. Groq API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7b. Groq API Call": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10a. Build Tailor Prompt": {
      "main": [
        [
          {
            "node": "10b. OpenAI API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b. OpenAI API Call": {
      "main": [
        [
          {
            "node": "11. Parse AI Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12b. POST Generate Cover Letter PDF": {
      "main": [
        [
          {
            "node": "13. Prepare Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset2": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Run an Actor and get dataset3": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Run an Actor and get dataset4": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "7a. Build Match Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "8. Parse Match Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16. Log Skipped to Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2994ce0d-b196-4ca9-ac4b-c7220bac343e",
  "meta": {
    "instanceId": "ab1d9b83a326652825b037e9a6d1c825d6bec27701f2a3cac612c5b257bccc08"
  },
  "id": "ml6YUgWCLCaSrAHI",
  "tags": [
    {
      "updatedAt": "2026-03-28T15:57:18.737Z",
      "createdAt": "2026-03-28T15:57:18.737Z",
      "id": "4r1Bw6tRFDeWnIeE",
      "name": "resume-automation"
    },
    {
      "updatedAt": "2026-03-28T15:57:18.802Z",
      "createdAt": "2026-03-28T15:57:18.802Z",
      "id": "IdtMSQtdOfSH1th9",
      "name": "job-search"
    },
    {
      "updatedAt": "2026-03-28T15:57:18.755Z",
      "createdAt": "2026-03-28T15:57:18.755Z",
      "id": "IgGAlUqpZqAUlACh",
      "name": "ai-powered"
    }
  ]
}