data/Job_Application_Automator_v6.json
{
  "name": "Job Application Automator 2/4/26",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "37602497-57a7-479d-9222-c0f4c7295175",
      "name": "Schedule Trigger (Daily 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        480
      ],
      "notes": "Runs automatically Monday–Friday at 8am. Disable this node if you only want manual runs."
    },
    {
      "parameters": {},
      "id": "73737337-90f2-4bf8-851c-d749d00431f9",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a71b4911-993d-48f0-88cb-dc1c791c0ab7",
              "name": "linkedInUrl",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Salesforce%20Developer%20OR%20Software%20Developer%20OR%20Werkstudent%20Softwareentwicklung%20OR%20Junior%20Developer%20OR%20Backend%20Developer&location=Germany&geoId=101282230&f_JT=F%2CP%2CC%2CI&f_E=1%2C2%2C3%2C4&f_TPR=r2592000&f_WT=1%2C3%2C2&position=1&pageNum=0",
              "type": "string"
            },
            {
              "id": "c24756b1-085f-4ce5-b682-5ea871b2fcc6",
              "name": "indeedUrl",
              "value": "http://de.indeed.com/jobs?q=salesforce+developer&l=Deutschland&sc=0kf%3Aattr%285QWDV%7CCF3CP%7CT9BXE%252COR%29attr%28DSQF7%7CPAXZC%252COR%29%3B&from=searchOnDesktopSerp&vjk=461f86220eea0387",
              "type": "string"
            },
            {
              "id": "1262f41a-c33b-4582-97a0-43c50e8a6b4f",
              "name": "stepstoneUrl",
              "value": "https://www.stepstone.de/jobs/salesforce-developer",
              "type": "string"
            },
            {
              "id": "ed066004-74a2-4b0e-861c-8f9f90cd67d0",
              "name": "XingUrl",
              "value": "https://www.xing.com/jobs/search?id=4921caec981101172481e48214f3f948&sort=date&employmentType=PART_TIME.58889d*INTERN.dc571c*FULL_TIME.ef2fe9&careerLevel=1.795d28*3.2ebf16",
              "type": "string"
            },
            {
              "id": "3a643fdf-caa2-4581-916c-2ca7a6130f35",
              "name": "jobCount",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d55a0ed3-000a-453d-b7ce-be287d4b4832",
      "name": "1. Job Search URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        384
      ],
      "notes": "Update these URLs to change what jobs are scraped. LinkedIn URL covers: Salesforce, Software Dev, Werkstudent, Junior, Backend roles in Germany. Add more OR terms to broaden further."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input",
          "mode": "url"
        },
        "customBody": "={\n  \"count\": {{ $json.jobCount }},\n  \"scrapeCompany\": true,\n  \"urls\": [\"{{ $json.linkedInUrl }}\"]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f6e8fdd-8d66-4235-b59c-2d3c3b214271",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "notes": "LinkedIn scraper — count increased to 50 for broader coverage."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/TrtlecxAsNRbKl1na/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"de\",\n  \"limit\": {{ $json.jobCount }},\n  \"location\": \"Germany\",\n  \"title\": \"Salesforce Developer OR Software Developer OR Werkstudent Entwickler OR Junior Developer OR Backend Developer\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "8aeddeb2-8de3-44d9-87c3-f8c192b055e0",
      "name": "Run an Actor and get dataset1",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "notes": "Indeed scraper — broadened to cover Salesforce, Software Dev, Werkstudent, Junior, Backend roles."
    },
    {
      "parameters": {},
      "id": "9504fefb-835c-4d6e-9495-bfdc72309c36",
      "name": "2c. Wait for All Scrapers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        224,
        384
      ],
      "notes": "Waits for both Apify scrapers to finish before normalizing."
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// NORMALIZE & DEDUP — Config-based adapter for any job board\n// To add a new board: add an entry to BOARD_CONFIG, wire the\n// Apify node to this Code node, done. Nothing else changes.\n// ═══════════════════════════════════════════════════════════════\n\nconst BOARD_CONFIG = {\n  'Run an Actor and get dataset': {\n    source: 'LinkedIn',\n    fields: {\n      id:          'id',\n      title:       ['title', 'jobTitle'],\n      company:     ['companyName', 'company'],\n      location:    'location',\n      description: ['descriptionText', 'description'],\n      url:         ['link', 'url'],\n      applyUrl:    ['applyUrl', 'link'],\n      postedAt:    'postedAt',\n      salary:      'salary',\n      remote:      'workRemoteAllowed',\n      seniority:   ['seniorityLevel', 'seniority'],\n      country:     'country',\n    }\n  },\n  'Run an Actor and get dataset1': {\n    source: 'Indeed',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'employer.name',\n      location:    'location.city',\n      description: 'description.text',\n      url:         ['url', 'jobUrl'],\n      applyUrl:    ['url', 'jobUrl'],\n      postedAt:    'datePublished',\n      salary:      null,\n      remote:      null,\n      seniority:   null,\n      country:     'location.countryCode',\n    }\n  },\n  'Run an Actor and get dataset2': {\n    source: 'StepStone',\n    fields: {\n      id:          'id',\n      title:       'title',\n      company:     'company_details.company_name',\n      location:    'workplace_details.job_location',\n      description: 'content_details.full_description',\n      url:         'source.url',\n      applyUrl:    'detail_page.applying_details.applying_url',\n      postedAt:    'posting_details.published_at',\n      salary:      'compensation_details.detail_salary',\n      remote:      'workplace_details.work_arrangement',\n      seniority:   null,\n      country:     null,  // StepStone.de is DACH-only — skip code filter\n    }\n  },\n  'Run an Actor and get dataset3': {\n    source: 'Glassdoor',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'company.companyName',\n      location:    'location_city',\n      description: 'description_text',\n      url:         'jobUrl',\n      applyUrl:    'applyUrl',\n      postedAt:    'datePublished',\n      salary:      null,  // flat baseSalary_min/max handled in extractSalary\n      remote:      'remoteWorkTypes',\n      seniority:   null,\n      country:     null,  // location_country is \"Germany\" not a code; Glassdoor.de is DACH-only\n    }\n  },\n  'Run an Actor and get dataset4': {\n    source: 'Xing',\n    fields: {\n      id:          'job_id',\n      title:       'title',\n      company:     'company',\n      location:    'location',\n      description: 'description_text',\n      url:         'url',\n      applyUrl:    'apply_url',\n      postedAt:    'date_posted',\n      salary:      'salary',\n      remote:      'remote',\n      seniority:   null,\n      country:     'location_country_code',\n    }\n  },\n};\n\nconst ALLOWED_COUNTRIES = new Set(['DE', 'AT', 'CH', 'NL', 'BE', '']);\n\nfunction getNestedValue(obj, path) {\n  if (!path) return undefined;\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined) ? o[k] : undefined, obj);\n}\n\nfunction resolveField(obj, mapping) {\n  if (mapping === null || mapping === undefined) return '';\n  if (Array.isArray(mapping)) {\n    for (const path of mapping) {\n      const val = getNestedValue(obj, path);\n      if (val !== undefined && val !== null && val !== '') return val;\n    }\n    return '';\n  }\n  return getNestedValue(obj, mapping) || '';\n}\n\nfunction extractSalary(obj, config) {\n  const raw = resolveField(obj, config.fields.salary);\n  // Already a string (Xing, LinkedIn)\n  if (raw && typeof raw === 'string' && raw.length > 0) return raw;\n  // StepStone: { min, max, currency, period }\n  if (raw && typeof raw === 'object' && raw.min) {\n    const { min, max, currency, currencyIso, period } = raw;\n    return `${currency || currencyIso || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  // LinkedIn: baseSalary nested object\n  if (obj.baseSalary && obj.baseSalary.min) {\n    const { min, max, currencyCode, unitOfWork } = obj.baseSalary;\n    return `${currencyCode || ''} ${min}-${max}/${unitOfWork || ''}`.trim();\n  }\n  // Glassdoor: flat baseSalary_min / baseSalary_max fields\n  if (obj.baseSalary_min) {\n    const { baseSalary_min: min, baseSalary_max: max, salary_currency: cur, salary_period: period } = obj;\n    return `${cur || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  return '';\n}\n\nconst jobs = [];\n\nfor (const [nodeName, config] of Object.entries(BOARD_CONFIG)) {\n  let items;\n  try {\n    items = $(nodeName).all();\n  } catch (e) {\n    continue;\n  }\n  if (!items || items.length === 0) continue;\n\n  for (const item of items) {\n    const d = item.json;\n    if (!d || typeof d !== 'object') continue;\n\n    const desc = String(resolveField(d, config.fields.description));\n    if (desc.length < 50) continue;\n\n    const country = String(resolveField(d, config.fields.country) || '').toUpperCase();\n    if (country && !ALLOWED_COUNTRIES.has(country)) continue;\n\n    jobs.push({\n      source:      config.source,\n      id:          String(resolveField(d, config.fields.id)),\n      title:       String(resolveField(d, config.fields.title)),\n      company:     String(resolveField(d, config.fields.company)),\n      location:    String(resolveField(d, config.fields.location)),\n      description: desc,\n      url:         String(resolveField(d, config.fields.url)),\n      applyUrl:    String(resolveField(d, config.fields.applyUrl)),\n      postedAt:    String(resolveField(d, config.fields.postedAt)),\n      salary:      extractSalary(d, config),\n      remote:      Boolean(resolveField(d, config.fields.remote)),\n      seniority:   String(resolveField(d, config.fields.seniority)),\n    });\n  }\n}\n\nconst seen = new Set();\nconst unique = [];\nfor (const job of jobs) {\n  const key = job.applyUrl || `${job.company}::${job.title}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(job);\n}\n\nif (unique.length === 0) {\n  return [{ json: { error: 'No valid jobs after normalize + dedup. Check Apify outputs and country filter.', rawCount: jobs.length } }];\n}\n\nreturn unique.map(j => ({ json: j }));"
      },
      "id": "e8d60286-935d-457c-8398-b6743cbbc403",
      "name": "3. Normalize & Merge Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        384
      ],
      "notes": "Normalizes LinkedIn + Indeed output into a standard shape. Deduplicates by URL. Filters to DACH + Benelux countries."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "options": {}
      },
      "id": "1c3a9f67-2618-4f55-8eda-b26c3f51f5b7",
      "name": "6a. Read Applied Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        576
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      },
      "notes": "Runs in parallel with scrapers from node 1. Execute Once = single Sheets API call."
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length === 0) {\n  return [{ json: { _emptySheet: true } }];\n}\nreturn rows;"
      },
      "id": "dea7daa4-02da-4658-9435-fe1e47ecf08e",
      "name": "6a.1. Ensure Not Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        576
      ],
      "notes": "Passes a placeholder when sheet is empty so the Sync Merge always fires on first run."
    },
    {
      "parameters": {},
      "id": "1ce4dac4-843f-4579-af9b-054580687b8f",
      "name": "6c. Sync Jobs + Sheet",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        672,
        480
      ],
      "notes": "Waits for node 3 (jobs) and 6a.1 (sheet) before running dedup. Prevents empty-sheet blocking."
    },
    {
      "parameters": {
        "jsCode": "// Get all scraped jobs from normalize step\nconst jobs = $('3. Normalize & Merge Jobs').all();\n\n// Build set of already-seen job URLs from Sheets\nconst seenUrls = new Set();\ntry {\n  const sheetRows = $('6a. Read Applied Jobs').all();\n  for (const row of sheetRows) {\n    const url = (row.json['Job URL'] || '').trim();\n    if (url) seenUrls.add(url);\n  }\n} catch (e) {\n  // Sheet is empty on first run — that's fine\n}\n\n// Filter to only new jobs not yet in Sheets\nconst newJobs = jobs.filter(job => {\n  const url = (job.json.url || job.json.applyUrl || '').trim();\n  return url && !seenUrls.has(url);\n});\n\nif (newJobs.length === 0) {\n  return [{ json: { skipped: true, message: 'No new jobs — all already logged in Sheets', totalScraped: jobs.length } }];\n}\n\nconsole.log(`New jobs to process: ${newJobs.length} / ${jobs.length} scraped`);\nreturn newJobs;"
      },
      "id": "5459a91f-672a-42ac-87c4-276629e106e7",
      "name": "6b. Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        480
      ],
      "notes": "Removes jobs already in your Google Sheet. Prevents duplicate applications across runs."
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/context",
        "options": {
          "timeout": 10000
        }
      },
      "id": "4e97efd4-615b-4e4f-a2bd-c4c011ec8f2d",
      "name": "4. GET Resume Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        480
      ],
      "notes": "Fetches base resume as clean text from your local server. Uses host.docker.internal to reach localhost:3000 from inside Docker."
    },
    {
      "parameters": {
        "jsCode": "const resumeContext = $('4. GET Resume Context').first().json;\nconst jobs = $('6b. Filter Duplicates').all();\n\nreturn jobs.map(job => ({\n  json: {\n    ...job.json,\n    resume: resumeContext\n  }\n}));"
      },
      "id": "889b4bb0-987a-44a6-a7dd-c4eb8a5b8f94",
      "name": "5. Attach Resume to Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Smart Adaptive Throttle — respects Groq/OpenAI TPM limits\n// Uses workflow static data to track rate limit state across items\n\nconst MIN_DELAY_MS = 7000;    // 7s base — safe for ~8 calls/min on Groq free tier\nconst BURST_DELAY_MS = 20000; // 20s after a 429 was recently flagged\nconst COOLDOWN_WINDOW = 60000; // 1 min cooldown window\n\nconst staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\n\n// Check if downstream flagged a rate limit recently\nconst lastRateLimit = staticData.lastRateLimitAt || 0;\nconst inCooldown = (now - lastRateLimit) < COOLDOWN_WINDOW;\nconst delay = inCooldown ? BURST_DELAY_MS : MIN_DELAY_MS;\n\n// Ensure minimum spacing between calls\nconst lastCallAt = staticData.lastApiCallAt || 0;\nconst elapsed = now - lastCallAt;\nconst waitTime = Math.max(0, delay - elapsed);\n\nif (waitTime > 0) {\n  await new Promise(r => setTimeout(r, waitTime));\n}\n\nstaticData.lastApiCallAt = Date.now();\nreturn $input.all();"
      },
      "id": "8fa5379f-932c-4b36-98a2-074edd89fe2f",
      "name": "6. Smart Throttle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        480
      ],
      "notes": "Adaptive throttle: 7s base, 20s during cooldown. Uses static data to persist rate limit state across items in a single execution."
    },
    {
      "parameters": {
        "jsCode": "// 7a. Build Match Prompt — prepare Groq API request body\nconst item = $input.first().json;\n// Guard: skip sentinel items from zero-job / all-duplicate runs\nif (item.skipped || item.error) {\n  console.log('[7a] Skipping non-job item:', item.message || item.error || 'unknown reason');\n  return [];\n}\nconst apiKey = $env.GROQ_API_KEY;\n\nif (!apiKey) throw new Error('GROQ_API_KEY not set in environment variables!');\n\nconst systemPrompt = `Job-match filter. MSc student Germany, broad search. LENIENT.\nmatch:true if ANY: 40%+ skill overlap, internship/Werkstudent (always true), junior/entry, transferable skills.\nmatch:false ONLY if:\n- completely unrelated field (accounting/law/finance/legal/medical/non-tech)\n- pure ML engineer or pure data scientist (OK if ML is just one tool among many for a software role)\n- pure project/product management with no hands-on development\n- explicitly requires 6+ years AND role is a narrow specialisation with zero candidate exposure\nReturn ONLY JSON: {\"match\":bool,\"confidence\":0-100,\"reason\":\"one line\",\"jobType\":\"internship|werkstudent|full-time|contract|unknown\"}`;\n\nconst skills = (item.resume?.currentSkills || []).map(s => s.skill).join(', ');\nconst userMsg = `Candidate: MSc Global Software Dev, Hochschule Fulda Germany. Title: ${item.resume?.currentJobTitle || ''}. Skills: ${skills}.\n\nJob: ${item.title} at ${item.company} (${item.location}), seniority: ${item.seniority || 'unspecified'}.\nJD (800 chars): ${(item.description || '').slice(0, 800)}`;\n\nreturn [{\n  json: {\n    ...item,\n    _groqApiKey: apiKey,\n    _groqBody: {\n      model: 'llama-3.1-8b-instant',\n      temperature: 0.1,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg }\n      ]\n    }\n  }\n}];"
      },
      "id": "b703ac18-f3e5-46c1-9879-3f93694a5b70",
      "name": "7a. Build Match Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        480
      ],
      "notes": "Builds Groq API request body. Outputs _groqApiKey + _groqBody for HTTP Request node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._groqBody) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "8375f47b-d2ff-4063-af80-cb6bfb5ec18a",
      "name": "7b. Groq API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "position": [
        2016,
        480
      ],
      "credentials": {
        "groqApi": {
          "id": "0h06hfXG29GT9ek8",
          "name": "Groq account"
        }
      },
      "notes": "Calls Groq API. n8n native retry: 3x, 10s wait. No sandbox fetch issues."
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst jobData = $('5. Attach Resume to Jobs').item;\n\ntry {\n  const content = aiResponse.choices[0].message.content;\n  const result = JSON.parse(content);\n  \n  return [{\n    json: {\n      ...jobData.json,\n      matchResult: result\n    }\n  }];\n} catch (err) {\n  return [{\n    json: {\n      ...jobData.json,\n      matchResult: { match: true, confidence: 50, reason: 'AI parse error - defaulting to match: ' + err.message, jobType: 'unknown' }\n    }\n  }];\n}"
      },
      "id": "3fa48e9b-b058-4eb7-a846-88ee9d031694",
      "name": "8. Parse Match Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "match-check",
              "leftValue": "={{ $json.matchResult.match }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "confidence-check",
              "leftValue": "={{ $json.matchResult.confidence }}",
              "rightValue": 45,
              "operator": {
                "type": "number",
                "operation": "gte",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e1c0784-24fe-49c1-ac24-a287b6f2d15d",
      "name": "9. Is Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// 10a. Build Tailor Prompt — prepare OpenAI API request body\nconst item = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nconst apiKey = $env.OPENAI_API_KEY;\n\nif (!apiKey) throw new Error('OPENAI_API_KEY not set in environment variables!');\n\n// Ensure minimum spacing between OpenAI calls\nconst PRE_CALL_DELAY_MS = 6000;\nconst lastCall = staticData.lastOpenAICallAt || 0;\nconst elapsed = Date.now() - lastCall;\nif (elapsed < PRE_CALL_DELAY_MS) {\n  await new Promise(r => setTimeout(r, PRE_CALL_DELAY_MS - elapsed));\n}\nstaticData.lastOpenAICallAt = Date.now();\n\nconst systemPrompt = `Resume and cover letter writer for Germany job applications. Return ONE JSON object.\n\nRESUME PATCH (only changed sections):\n- Keep entry IDs exactly as given\n- Rephrase existing bullets with JD keywords, no hallucination\n- Profile: 3-4 sentences, mention MSc student Germany, role-specific\n- Bullets: <ul><li><p>text</p></li></ul> | Paragraphs: <p>text</p>\n\nCOVER LETTER (3 paragraphs, 180-220 words, plain text):\n- P1: Name role+company, mention MSc Global Software Dev Hochschule Fulda, hook with most relevant experience\n- P2: 2-3 concrete matching skills/achievements\n- P3: Availability (internship/Werkstudent/full-time as fits) + call to action\n- No cliches, no salutation, no date\n\nReturn ONLY:\n{\n  \"patch\": {\n    \"jobTitle\": \"omit if unchanged\",\n    \"profile\": \"<p>...</p> or omit\",\n    \"work\": [{\"id\":\"existing-id\",\"description\":\"<ul><li><p>...</p></li></ul>\"}],\n    \"skills\": [{\"id\":\"existing-id\",\"infoHtml\":\"<p>...</p>\"}]\n  },\n  \"coverLetter\": \"p1\\n\\np2\\n\\np3\"\n}`;\n\nconst userMsg = `RESUME:\nTitle: ${item.resume?.currentJobTitle || ''}\nProfile: ${item.resume?.currentProfile || ''}\nWork: ${JSON.stringify(item.resume?.currentWork || [])}\nSkills: ${JSON.stringify(item.resume?.currentSkills || [])}\n\nJOB: ${item.title} | ${item.company} | ${item.location} | Type: ${item.matchResult?.jobType || 'unknown'}\nJD: ${item.description || ''}`;\n\nreturn [{\n  json: {\n    ...item,\n    _openAIApiKey: apiKey,\n    _openAIBody: {\n      model: 'gpt-4o-mini',\n      temperature: 0.3,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg }\n      ]\n    }\n  }\n}];"
      },
      "id": "f3b4df17-1a5a-4094-b9fd-0544436f59f0",
      "name": "10a. Build Tailor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        384
      ],
      "notes": "Builds OpenAI request body with throttle. Outputs _openAIApiKey + _openAIBody for HTTP Request node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._openAIBody) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "f4ef5156-cdd3-489d-8102-799a7cc6daf0",
      "name": "10b. OpenAI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "position": [
        2912,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "wwjiHkXU7KZB6LWb",
          "name": "OpenAi account"
        }
      },
      "notes": "Calls OpenAI API. n8n native retry: 3x, 12s wait. No sandbox fetch issues."
    },
    {
      "parameters": {
        "jsCode": "// Single combined AI call returns both patch and coverLetter\nconst aiResponse = $input.first().json;\nconst jobData = $('9. Is Match?').first().json;\n\nlet patch = {};\nlet coverLetter = '';\n\ntry {\n  if (!aiResponse?.choices?.[0]?.message?.content) {\n    throw new Error('No choices in AI response — possible rate limit or API error');\n  }\n  const result = JSON.parse(aiResponse.choices[0].message.content);\n  patch = result.patch || {};\n  coverLetter = result.coverLetter || '';\n} catch (err) {\n  patch = { _error: 'AI parse failed: ' + err.message };\n  coverLetter = '';\n}\n\nconst rawParts = (coverLetter || '').split(/\\n\\n+/).map(p => p.trim()).filter(p => p.length > 0);\nlet paragraph1 = rawParts[0] || '';\nlet paragraph2 = rawParts[1] || '';\nlet paragraph3 = rawParts[2] || '';\nlet _coverLetterWarning = '';\n\nif (rawParts.length === 0) {\n  _coverLetterWarning = 'AI returned empty cover letter';\n} else if (rawParts.length < 3) {\n  _coverLetterWarning = `Cover letter has ${rawParts.length} paragraph(s), expected 3`;\n  if (rawParts.length === 1 && rawParts[0].length > 100) {\n    const sentences = rawParts[0].split(/(?<=[.!?])\\s+/);\n    if (sentences.length >= 3) {\n      const third = Math.floor(sentences.length / 3);\n      paragraph1 = sentences.slice(0, third).join(' ');\n      paragraph2 = sentences.slice(third, third * 2).join(' ');\n      paragraph3 = sentences.slice(third * 2).join(' ');\n      _coverLetterWarning += ' — recovered via sentence split';\n    }\n  }\n}\n\nreturn [{\n  json: {\n    patch,\n    coverLetter,\n    paragraph1,\n    paragraph2,\n    paragraph3,\n    _coverLetterWarning,\n    job: {\n      source:          jobData.source || '',\n      title:           jobData.title || '',\n      company:         jobData.company || '',\n      location:        jobData.location || '',\n      url:             jobData.url || '',\n      applyUrl:        jobData.applyUrl || '',\n      postedAt:        jobData.postedAt || '',\n      salary:          jobData.salary || '',\n      jobType:         jobData.matchResult?.jobType || 'unknown',\n      matchConfidence: jobData.matchResult?.confidence || 0,\n      matchReason:     jobData.matchResult?.reason || ''\n    }\n  }\n}];"
      },
      "id": "aba557e2-abf4-4915-92da-517401f524ee",
      "name": "11. Parse AI Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        384
      ],
      "notes": "Reads combined patch+coverLetter from single node 10. Handles missing/failed AI responses gracefully."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/generate-resume",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ patch: $json.patch, company: $json.job.company }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "e9a8f9dc-349a-404b-950e-b284f87e9cef",
      "name": "12. POST Generate Resume PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        384
      ],
      "continueOnFail": true,
      "notes": "Sends JSON patch to local server. Server merges into base resume, opens FlowCV via Playwright, downloads PDF."
    },
    {
      "parameters": {
        "jsCode": "const patchData = $('11. Parse AI Patch').first().json;\nconst resumeResult = $('12. POST Generate Resume PDF').first().json;\nconst coverLetterResult = $input.first().json;\n\nconst now = new Date();\nconst date = now.toISOString().split('T')[0];\nconst time = now.toTimeString().split(' ')[0];\n\nreturn [{\n  json: {\n    Date:               date + ' ' + time,\n    Company:            patchData.job.company || '',\n    Role:               patchData.job.title || '',\n    'Job Type':         patchData.job.jobType || '',\n    Location:           patchData.job.location || '',\n    Source:             patchData.job.source || '',\n    'Job URL':          patchData.job.url || '',\n    'Apply URL':        patchData.job.applyUrl || '',\n    'Match Confidence': patchData.job.matchConfidence || 0,\n    'Match Reason':     patchData.job.matchReason || '',\n    'Resume File':       resumeResult.file || '',\n    'Cover Letter File': coverLetterResult.file || '',\n    Status:             (resumeResult.success && coverLetterResult.success) ? 'Generated' : 'PDF Failed',\n    Applied:            'No',\n    Response:           '',\n    Interview:          '',\n    Notes:              patchData.patch?._error || patchData._coverLetterWarning || ''\n  }\n}];"
      },
      "id": "e39cda65-99e0-41c9-a208-743700c038c2",
      "name": "13. Prepare Sheet Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        384
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Confidence",
              "displayName": "Match Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume File",
              "displayName": "Resume File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter File",
              "displayName": "Cover Letter File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4c290e76-27ce-480e-9a91-9eb6adf044e2",
      "name": "14. Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4032,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      },
      "notes": "SETUP: Update your Sheet headers to: Date, Company, Role, Job Type, Location, Source, Job URL, Apply URL, Match Confidence, Match Reason, Resume File, Cover Letter, Status, Applied, Response, Interview, Notes"
    },
    {
      "parameters": {
        "jsCode": "const jobData = $input.first().json;\n\nconst now = new Date();\nconst date = now.toISOString().split('T')[0];\nconst time = now.toTimeString().split(' ')[0];\n\nreturn [{\n  json: {\n    Date:               date + ' ' + time,\n    Company:            jobData.company || '',\n    Role:               jobData.title || '',\n    'Job Type':         jobData.matchResult?.jobType || '',\n    Location:           jobData.location || '',\n    Source:             jobData.source || '',\n    'Job URL':          jobData.url || '',\n    'Apply URL':        jobData.applyUrl || '',\n    'Match Confidence': jobData.matchResult?.confidence || 0,\n    'Match Reason':     jobData.matchResult?.reason || '',\n    'Resume File':      '',\n    'Cover Letter':     '',\n    Status:             'Skipped - No Match',\n    Applied:            'N/A',\n    Response:           '',\n    Interview:          '',\n    Notes:              ''\n  }\n}];"
      },
      "id": "9c5d9af8-62b6-48f1-acb0-f5d544734023",
      "name": "15. Prepare Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        576
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Confidence",
              "displayName": "Match Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume File",
              "displayName": "Resume File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c009439b-c49f-447c-80ae-1f96aaeb3505",
      "name": "16. Log Skipped to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/IGjzUXKHqlsJaT58u/input",
          "mode": "url"
        },
        "customBody": "={\n  \"employmentType\": [\n    \"PERMANENT_POSITION\",\n    \"FIXED_TERM_CONTRACT\",\n    \"ENTRY_LEVEL_TRAINEE\",\n    \"STUDENT_JOB_WORKING_STUDENT\",\n    \"INTERNSHIP\"\n  ],\n  \"limit\": {{ $json.jobCount }},\n  \"startUrls\": [\n    \"{{ $json.stepstoneUrl }}\"\n  ],\n  \"domain\": \"stepstone.de\",\n  \"distanceFromSource\": \"30\",\n  \"workRemote\": [],\n  \"ApplicationType\": [],\n  \"listingLanguage\": [],\n  \"WorkingHours\": [],\n  \"experience\": [],\n  \"publishedDate\": \"\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "32e08e6d-bf94-4abe-8ccc-fa777ce7d20b",
      "name": "Run an Actor and get dataset2",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "notes": "StepStone scraper — employment types + remote filter configured."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/bYSAbQqxwImLaf2nb/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"Germany\",\n  \"datePosted\": \"3\",\n  \"deepSearch\": false,\n  \"includeNoSalaryJob\": true,\n  \"keywords\": [\n    \"Salesforce Developer, Software Engineer\"\n  ],\n  \"location\": \"Germany\",\n  \"maxItems\": {{ $json.jobCount }},\n  \"saveOnlyUniqueItems\": false\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        0,
        704
      ],
      "id": "59130a84-616a-43c9-bcab-f22ea415fa59",
      "name": "Run an Actor and get dataset3",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "notes": "Glassdoor scraper — keywords, country=Germany, datePosted=3 days."
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/YGO6eh6ICQXnan9L4/input",
          "mode": "url"
        },
        "customBody": "={\n  \"results_wanted\": {{ $json.jobCount }},\n  \"startUrl\": \"{{ $json.XingUrl }}\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        0,
        896
      ],
      "id": "0d4b8a4b-badc-4e5c-aeaa-a30c9aadd7b4",
      "name": "Run an Actor and get dataset4",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "notes": "Xing scraper — results_wanted from jobCount, startUrl from XingUrl."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/generate-coverletter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: $(\"11. Parse AI Patch\").first().json.job.title, company: $(\"11. Parse AI Patch\").first().json.job.company, companyAddress: $(\"11. Parse AI Patch\").first().json.job.location, paragraph1: $(\"11. Parse AI Patch\").first().json.paragraph1, paragraph2: $(\"11. Parse AI Patch\").first().json.paragraph2, paragraph3: $(\"11. Parse AI Patch\").first().json.paragraph3 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1a74205f-140e-4ea4-b4ce-b997e11cc51e",
      "name": "12b. POST Generate Cover Letter PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3584,
        384
      ],
      "continueOnFail": true,
      "notes": "Sends cover letter paragraphs to local server. Renders HTML and exports PDF via Playwright."
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Daily 8am)": {
      "main": [
        [
          {
            "node": "1. Job Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Workflow": {
      "main": [
        [
          {
            "node": "1. Job Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Job Search URLs": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset1",
            "type": "main",
            "index": 0
          },
          {
            "node": "6a. Read Applied Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run an Actor and get dataset4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset1": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "2c. Wait for All Scrapers": {
      "main": [
        [
          {
            "node": "3. Normalize & Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Normalize & Merge Jobs": {
      "main": [
        [
          {
            "node": "6c. Sync Jobs + Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6a. Read Applied Jobs": {
      "main": [
        [
          {
            "node": "6a.1. Ensure Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6b. Filter Duplicates": {
      "main": [
        [
          {
            "node": "4. GET Resume Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. GET Resume Context": {
      "main": [
        [
          {
            "node": "5. Attach Resume to Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Attach Resume to Jobs": {
      "main": [
        [
          {
            "node": "6. Smart Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Parse Match Result": {
      "main": [
        [
          {
            "node": "9. Is Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Is Match?": {
      "main": [
        [
          {
            "node": "10a. Build Tailor Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "15. Prepare Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Parse AI Patch": {
      "main": [
        [
          {
            "node": "12. POST Generate Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. POST Generate Resume PDF": {
      "main": [
        [
          {
            "node": "12b. POST Generate Cover Letter PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Prepare Sheet Log": {
      "main": [
        [
          {
            "node": "14. Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Prepare Skip Log": {
      "main": [
        [
          {
            "node": "16. Log Skipped to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6a.1. Ensure Not Empty": {
      "main": [
        [
          {
            "node": "6c. Sync Jobs + Sheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "6c. Sync Jobs + Sheet": {
      "main": [
        [
          {
            "node": "6b. Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Smart Throttle": {
      "main": [
        [
          {
            "node": "7a. Build Match Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7a. Build Match Prompt": {
      "main": [
        [
          {
            "node": "7b. Groq API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7b. Groq API Call": {
      "main": [
        [
          {
            "node": "8. Parse Match Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10a. Build Tailor Prompt": {
      "main": [
        [
          {
            "node": "10b. OpenAI API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b. OpenAI API Call": {
      "main": [
        [
          {
            "node": "11. Parse AI Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset2": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Run an Actor and get dataset3": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Run an Actor and get dataset4": {
      "main": [
        [
          {
            "node": "2c. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "12b. POST Generate Cover Letter PDF": {
      "main": [
        [
          {
            "node": "13. Prepare Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "73041e44-3857-40d2-b9e3-6e5c0c5aa3cd",
  "meta": {
    "instanceId": "ab1d9b83a326652825b037e9a6d1c825d6bec27701f2a3cac612c5b257bccc08"
  },
  "id": "ml6YUgWCLCaSrAHI",
  "tags": [
    {
      "updatedAt": "2026-03-28T15:57:18.737Z",
      "createdAt": "2026-03-28T15:57:18.737Z",
      "id": "4r1Bw6tRFDeWnIeE",
      "name": "resume-automation"
    },
    {
      "updatedAt": "2026-03-28T15:57:18.802Z",
      "createdAt": "2026-03-28T15:57:18.802Z",
      "id": "IdtMSQtdOfSH1th9",
      "name": "job-search"
    },
    {
      "updatedAt": "2026-03-28T15:57:18.755Z",
      "createdAt": "2026-03-28T15:57:18.755Z",
      "id": "IgGAlUqpZqAUlACh",
      "name": "ai-powered"
    }
  ]
}