data/Job_Application_Automator_v6.json
{
  "name": "Job Application Automator v6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "71422e25-1c96-4ab7-b0dc-9f34678a4256",
      "name": "Schedule Trigger (Daily 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        20544,
        5800
      ]
    },
    {
      "parameters": {},
      "id": "b8c8f1d7-c3d8-4f43-bf78-372d14c7eb1c",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20544,
        5608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a71b4911-993d-48f0-88cb-dc1c791c0ab7",
              "name": "linkedInUrl",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Salesforce%20Developer%20OR%20Software%20Developer%20OR%20Werkstudent%20Softwareentwicklung%20OR%20Junior%20Developer%20OR%20Backend%20Developer&location=Germany&geoId=101282230&f_JT=F%2CP%2CC%2CI&f_E=1%2C2%2C3%2C4&f_TPR=r2592000&f_WT=1%2C3%2C2&position=1&pageNum=0",
              "type": "string"
            },
            {
              "id": "c24756b1-085f-4ce5-b682-5ea871b2fcc6",
              "name": "indeedUrl",
              "value": "http://de.indeed.com/jobs?q=salesforce+developer&l=Deutschland&sc=0kf%3Aattr%285QWDV%7CCF3CP%7CT9BXE%252COR%29attr%28DSQF7%7CPAXZC%252COR%29%3B&from=searchOnDesktopSerp&vjk=461f86220eea0387",
              "type": "string"
            },
            {
              "id": "1262f41a-c33b-4582-97a0-43c50e8a6b4f",
              "name": "stepstoneUrl",
              "value": "https://www.stepstone.de/jobs/salesforce-developer",
              "type": "string"
            },
            {
              "id": "ed066004-74a2-4b0e-861c-8f9f90cd67d0",
              "name": "XingUrl",
              "value": "https://www.xing.com/jobs/search?id=4921caec981101172481e48214f3f948&sort=date&employmentType=PART_TIME.58889d*INTERN.dc571c*FULL_TIME.ef2fe9&careerLevel=1.795d28*3.2ebf16",
              "type": "string"
            },
            {
              "id": "3a643fdf-caa2-4581-916c-2ca7a6130f35",
              "name": "jobCount",
              "value": 20,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "796422e5-94e5-48fc-91e8-fa6ec28f3ca9",
      "name": "1. Job Search URLs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20768,
        5704
      ]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input",
          "mode": "url"
        },
        "customBody": "={\n  \"count\": {{ $json.jobCount }},\n  \"scrapeCompany\": true,\n  \"urls\": [\"{{ $json.linkedInUrl }}\"]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        20992,
        5152
      ],
      "id": "2c0ad7f9-2dbe-466b-b360-aacab1670ba6",
      "name": "2a. Scrape LinkedIn",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/TrtlecxAsNRbKl1na/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"de\",\n  \"limit\": {{ $json.jobCount }},\n  \"location\": \"Germany\",\n  \"title\": \"Salesforce Developer OR Software Developer OR Werkstudent Entwickler OR Junior Developer OR Backend Developer\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        20992,
        5344
      ],
      "id": "d79f0252-2f15-4b07-9a4b-4e8f641e39ef",
      "name": "2b. Scrape Indeed",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "9111ba1a-ffcd-43ad-b1d3-dc6ae95c3827",
      "name": "3. Wait for All Scrapers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        21216,
        5488
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// NORMALIZE & DEDUP — Config-based adapter for any job board\n// To add a new board: add an entry to BOARD_CONFIG, wire the\n// Apify node to this Code node, done. Nothing else changes.\n// ═══════════════════════════════════════════════════════════════\n\nconst BOARD_CONFIG = {\n  '2a. Scrape LinkedIn': {\n    source: 'LinkedIn',\n    fields: {\n      id:          'id',\n      title:       ['title', 'jobTitle'],\n      company:     ['companyName', 'company'],\n      location:    'location',\n      description: ['descriptionText', 'description'],\n      url:         ['link', 'url'],\n      applyUrl:    ['applyUrl', 'link'],\n      postedAt:    'postedAt',\n      salary:      'salary',\n      remote:      'workRemoteAllowed',\n      seniority:   ['seniorityLevel', 'seniority'],\n      country:     'country',\n    }\n  },\n  '2b. Scrape Indeed': {\n    source: 'Indeed',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'employer.name',\n      location:    'location.city',\n      description: 'description.text',\n      url:         ['url', 'jobUrl'],\n      applyUrl:    ['url', 'jobUrl'],\n      postedAt:    'datePublished',\n      salary:      null,\n      remote:      null,\n      seniority:   null,\n      country:     'location.countryCode',\n    }\n  },\n  '2c. Scrape StepStone': {\n    source: 'StepStone',\n    fields: {\n      id:          'id',\n      title:       'title',\n      company:     'company_details.company_name',\n      location:    'workplace_details.job_location',\n      description: 'content_details.full_description',\n      url:         'source.url',\n      applyUrl:    'detail_page.applying_details.applying_url',\n      postedAt:    'posting_details.published_at',\n      salary:      'compensation_details.detail_salary',\n      remote:      'workplace_details.work_arrangement',\n      seniority:   null,\n      country:     null,  // StepStone.de is DACH-only — skip code filter\n    }\n  },\n  '2d. Scrape Glassdoor': {\n    source: 'Glassdoor',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'company.companyName',\n      location:    'location_city',\n      description: 'description_text',\n      url:         'jobUrl',\n      applyUrl:    'applyUrl',\n      postedAt:    'datePublished',\n      salary:      null,  // flat baseSalary_min/max handled in extractSalary\n      remote:      'remoteWorkTypes',\n      seniority:   null,\n      country:     null,  // location_country is \"Germany\" not a code; Glassdoor.de is DACH-only\n    }\n  },\n  '2e. Scrape Xing': {\n    source: 'Xing',\n    fields: {\n      id:          'job_id',\n      title:       'title',\n      company:     'company',\n      location:    'location',\n      description: 'description_text',\n      url:         'url',\n      applyUrl:    'apply_url',\n      postedAt:    'date_posted',\n      salary:      'salary',\n      remote:      'remote',\n      seniority:   null,\n      country:     'location_country_code',\n    }\n  },\n};\n\nconst ALLOWED_COUNTRIES = new Set(['DE', 'AT', 'CH', 'NL', 'BE', '']);\n\nfunction getNestedValue(obj, path) {\n  if (!path) return undefined;\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined) ? o[k] : undefined, obj);\n}\n\nfunction resolveField(obj, mapping) {\n  if (mapping === null || mapping === undefined) return '';\n  if (Array.isArray(mapping)) {\n    for (const path of mapping) {\n      const val = getNestedValue(obj, path);\n      if (val !== undefined && val !== null && val !== '') return val;\n    }\n    return '';\n  }\n  return getNestedValue(obj, mapping) || '';\n}\n\nfunction extractSalary(obj, config) {\n  const raw = resolveField(obj, config.fields.salary);\n  // Already a string (Xing, LinkedIn)\n  if (raw && typeof raw === 'string' && raw.length > 0) return raw;\n  // StepStone: { min, max, currency, period }\n  if (raw && typeof raw === 'object' && raw.min) {\n    const { min, max, currency, currencyIso, period } = raw;\n    return `${currency || currencyIso || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  // LinkedIn: baseSalary nested object\n  if (obj.baseSalary && obj.baseSalary.min) {\n    const { min, max, currencyCode, unitOfWork } = obj.baseSalary;\n    return `${currencyCode || ''} ${min}-${max}/${unitOfWork || ''}`.trim();\n  }\n  // Glassdoor: flat baseSalary_min / baseSalary_max fields\n  if (obj.baseSalary_min) {\n    const { baseSalary_min: min, baseSalary_max: max, salary_currency: cur, salary_period: period } = obj;\n    return `${cur || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  return '';\n}\n\nconst jobs = [];\n\nfor (const [nodeName, config] of Object.entries(BOARD_CONFIG)) {\n  let items;\n  try {\n    items = $(nodeName).all();\n  } catch (e) {\n    continue;\n  }\n  if (!items || items.length === 0) continue;\n\n  for (const item of items) {\n    const d = item.json;\n    if (!d || typeof d !== 'object') continue;\n\n    const desc = String(resolveField(d, config.fields.description));\n    if (desc.length < 20) continue;\n\n    const country = String(resolveField(d, config.fields.country) || '').toUpperCase();\n    if (country && !ALLOWED_COUNTRIES.has(country)) continue;\n\n    jobs.push({\n      source:      config.source,\n      id:          String(resolveField(d, config.fields.id)),\n      title:       String(resolveField(d, config.fields.title)),\n      company:     String(resolveField(d, config.fields.company)),\n      location:    String(resolveField(d, config.fields.location)),\n      description: desc,\n      url:         String(resolveField(d, config.fields.url)),\n      applyUrl:    String(resolveField(d, config.fields.applyUrl)),\n      postedAt:    String(resolveField(d, config.fields.postedAt)),\n      salary:      extractSalary(d, config),\n      remote:      resolveField(d, config.fields.remote) === true,\n      seniority:   String(resolveField(d, config.fields.seniority)),\n    });\n  }\n}\n\nconst seen = new Set();\nconst unique = [];\nfor (const job of jobs) {\n  const key = job.applyUrl || `${job.company}::${job.title}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(job);\n}\n\nif (unique.length === 0) {\n  return [{ json: { error: 'No valid jobs after normalize + dedup. Check Apify outputs and country filter.', rawCount: jobs.length } }];\n}\n\nreturn unique.map(j => ({ json: j }));"
      },
      "id": "1f437649-6f3c-4fe4-8f54-6525ed3d1175",
      "name": "4. Normalize & Merge Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21440,
        5536
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "options": {}
      },
      "id": "6610cdd6-938e-4725-a9d0-e677ab16539d",
      "name": "2f. Read Applied Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        21216,
        6064
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length === 0) {\n  return [{ json: { _emptySheet: true } }];\n}\nreturn rows;"
      },
      "id": "c4888969-dcd1-40eb-901c-ca2f030cdb39",
      "name": "2f.1. Ensure Not Empty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21440,
        6064
      ]
    },
    {
      "parameters": {},
      "id": "82a1a674-503a-4b80-b101-f7b1914077e5",
      "name": "5. Sync Jobs + Sheet",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        21664,
        5752
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all scraped jobs from normalize step\nconst jobs = $('4. Normalize & Merge Jobs').all();\n\n// Build set of already-seen job URLs from Sheets\nconst seenUrls = new Set();\ntry {\n  const sheetRows = $('2f. Read Applied Jobs').all();\n  for (const row of sheetRows) {\n    // Only suppress URLs for jobs that were actually processed (not skipped)\n    // Skipped rows (Applied = 'N/A') should remain eligible for re-evaluation\n    if ((row.json['Applied'] || '').trim() === 'N/A') continue;\n    const url = (row.json['Job URL'] || '').trim();\n    if (url) seenUrls.add(url);\n  }\n} catch (e) {\n  // Sheet is empty on first run — that's fine\n}\n\n// Filter to only new jobs not yet in Sheets\nconst newJobs = jobs.filter(job => {\n  const url = (job.json.url || job.json.applyUrl || '').trim();\n  return url && !seenUrls.has(url);\n});\n\nif (newJobs.length === 0) {\n  return [{ json: { skipped: true, message: 'No new jobs — all already logged in Sheets', totalScraped: jobs.length } }];\n}\n\nconsole.log(`New jobs to process: ${newJobs.length} / ${jobs.length} scraped`);\nreturn newJobs;"
      },
      "id": "43b5863e-ef90-4eaf-98a3-7a49e9b92aed",
      "name": "6. Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21888,
        5752
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/context",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6574ee04-f317-4dad-a84c-ff6ec70f2e37",
      "name": "7. GET Resume Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        22112,
        5752
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const resumeItem = $('7. GET Resume Context').first();\n// If the resume server is down, continueOnFail gives us an error item.\n// Fall back to an empty resume object so the pipeline can still run and log jobs.\nconst resumeContext = (resumeItem.json && !resumeItem.json.error)\n  ? resumeItem.json\n  : {};\n\nconst jobs = $('6. Filter Duplicates').all();\n\n// Short-circuit: no new jobs today — pass sentinel through without attaching resume.\n// This prevents a wasted Groq API call and a misleading Sheet row.\nif (jobs.length === 1 && jobs[0].json.skipped) {\n  return [{ json: jobs[0].json }];\n}\n\nreturn jobs.map(job => ({\n  json: {\n    ...job.json,\n    resume: resumeContext,\n    _resumeFallback: Object.keys(resumeContext).length === 0\n  }\n}));"
      },
      "id": "2dc7a7c6-abae-4bc0-8799-2edcc28735e0",
      "name": "8. Attach Resume to Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22336,
        5752
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\n// Skip non-job items safely\nif (item.skipped || item.error) {\n  return {\n    json: {\n      ...item,\n      _skip: true,\n    },\n  };\n}\n\n// MUST include \"JSON\" for Groq response_format\nconst systemPrompt = `You are a job-match filter.\n\nReturn ONLY valid JSON. No explanation, no text outside JSON.\n\nOutput format:\n{\n  \"match\": true or false,\n  \"confidence\": number (0-100),\n  \"reason\": \"one short line\",\n  \"jobType\": \"internship|werkstudent|full-time|contract|unknown\"\n}\n\nRules:\n- Be LENIENT (Germany job search context)\n- match=true if ANY:\n  - 40%+ skill overlap\n  - internship/Werkstudent (almost always true)\n  - junior/entry roles\n  - transferable software/backend skills\n- match=false ONLY if:\n  - completely unrelated field (law, finance, medical, etc.)\n  - pure ML/Data Science role (unless mixed with software dev)\n  - strict senior role (6+ years AND narrow specialization)\n`;\n\n// ===== Helper =====\nconst clean = (s) => (s || '').replace(/\\s+/g, ' ').trim();\n\n// ===== Resume Data =====\nconst skills = (item.resume?.currentSkills || [])\n  .map(s => s?.skill || '')\n  .filter(Boolean)\n  .join(', ');\n\nconst education = (item.resume?.education || [])\n  .map(e =>\n    `${e.degree || ''} ${e.field || ''} at ${e.institution || ''} (${e.year || ''})`.trim()\n  )\n  .join('; ');\n\nconst recentWork = (item.resume?.workExperience || [])\n  .slice(0, 2)\n  .map(w =>\n    `${w.title || ''} at ${w.company || ''}: ${(w.summary || '').slice(0, 120)}`\n  )\n  .join(' | ');\n\n// ===== Smart JD Extraction (EN + DE aware) =====\nconst jdRaw = item.description || '';\nconst jd = clean(jdRaw);\n\n// Split by important sections (English + German)\nconst parts = jd.split(\n  /requirements|qualifications|your profile|anforderungen|qualifikationen|profil|was Sie mitbringen|was du mitbringst/i\n);\n\n// Pick best section or fallback\nlet jdImportant =\n  parts.length > 1 && parts[1].trim().length > 120\n    ? parts[1]\n    : jd;\n\n// Add intro for context only if meaningful\nconst intro = jd.length > 400 ? jd.slice(0, 300) : '';\n\n// Combine intro + requirements\njdImportant = intro\n  ? `${intro}\\n\\n${jdImportant}`\n  : jdImportant;\n\n// Remove HTML tags if present\njdImportant = jdImportant.replace(/<[^>]+>/g, '');\n\n// Final cap for token safety\njdImportant = jdImportant.slice(0, 1500);\n\n// ===== Build User Prompt =====\nconst userMsg = `Candidate:\nTitle: ${item.resume?.currentJobTitle || 'Software Developer'}\nLocation: Germany\n\nEducation:\n${education || 'MSc Global Software Development, Hochschule Fulda Germany'}\n\nRecent Work:\n${recentWork || 'N/A'}\n\nSkills:\n${skills || 'N/A'}\n\nJob:\n${item.title} at ${item.company}\nLocation: ${item.location}\nSeniority: ${item.seniority || 'unspecified'}\n\nJob Description:\n${jdImportant}`;\n\n// ===== Final Output =====\nreturn {\n  json: {\n    ...item,\n    _groqBody: {\n      model: 'llama-3.1-8b-instant',\n      temperature: 0.1,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg },\n      ],\n    },\n  },\n};"
      },
      "id": "85de6134-44cc-46ec-9b9a-db20517a7d41",
      "name": "10a. Build Match Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        22784,
        5680
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 8. Parse Match Result\n\nconst aiResponse = $json;\nconst jobData = $('10a. Build Match Prompt').item.json;\nconst { _groqBody, ...cleanJobData } = jobData;\n\n// Handle rate limit or API error from 10c. Groq API Call\nif (aiResponse.error) {\n  return {\n    json: {\n      ...cleanJobData,\n      matchResult: {\n        match: false,\n        confidence: 0,\n        reason: 'Groq API error: ' + (aiResponse.error.message || 'unknown'),\n        jobType: 'unknown',\n        _apiError: true,\n      },\n    },\n  };\n}\n\ntry {\n  const content = aiResponse.choices[0].message.content;\n  const result = JSON.parse(content);\n  return {\n    json: {\n      ...cleanJobData,\n      matchResult: result,\n    },\n  };\n} catch (err) {\n  return {\n    json: {\n      ...cleanJobData,\n      matchResult: {\n        match: true,\n        confidence: 50,\n        reason: 'AI parse error - defaulting to match: ' + err.message,\n        jobType: 'unknown',\n        _apiError: false,\n      },\n    },\n  };\n}"
      },
      "id": "31f9556b-2417-40c7-a547-c1fd2baae790",
      "name": "11. Parse Match Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23456,
        5680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "match-check",
              "leftValue": "={{ $json.matchResult.match }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "confidence-check",
              "leftValue": "={{ $json.matchResult.confidence }}",
              "rightValue": 45,
              "operator": {
                "type": "number",
                "operation": "gte",
                "singleValue": true
              }
            },
            {
              "id": "2c3865cd-05eb-4bba-9ee0-497e9d2f6e42",
              "leftValue": "={{ $json.matchResult?._apiError }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "76bf57c8-1cb5-4e77-9b37-e694bc383c85",
      "name": "12. Is Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        23680,
        5680
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 10a. Build Tailor Prompt — production-grade version\n\nconst item = $json;\nconst staticData = $getWorkflowStaticData('global');\n\n// ===== Rate limiting =====\nconst PRE_CALL_DELAY_MS = 6000;\nconst lastCall = staticData.lastOpenAICallAt || 0;\nconst elapsed = Date.now() - lastCall;\nif (elapsed < PRE_CALL_DELAY_MS) {\n  await new Promise(r => setTimeout(r, PRE_CALL_DELAY_MS - elapsed));\n}\nstaticData.lastOpenAICallAt = Date.now();\n\n// ===== Helpers =====\nconst clean = (s) => (s || '').replace(/\\s+/g, ' ').trim();\nconst stripHtml = (s) => (s || '').replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n\n// ===== Smart JD extraction =====\nconst jdRaw = item.description || '';\nconst jd = clean(jdRaw);\n\nconst parts = jd.split(\n  /requirements|qualifications|your profile|anforderungen|qualifikationen|profil|was Sie mitbringen|was du mitbringst/i\n);\n\nlet jdImportant =\n  parts.length > 1 && parts[1].trim().length > 120\n    ? parts[1]\n    : jd;\n\nconst intro = jd.length > 400 ? jd.slice(0, 300) : '';\n\njdImportant = intro\n  ? `${intro}\\n\\n${jdImportant}`\n  : jdImportant;\n\njdImportant = jdImportant.replace(/<[^>]+>/g, '').slice(0, 2200).trim();\n\n// ===== Strip HTML from resume input =====\n// Prevents model from confusing input HTML with output format instructions\nconst workClean = (item.resume?.currentWork || []).map(w => ({\n  ...w,\n  description: stripHtml(w.description),\n}));\n\nconst skillsClean = (item.resume?.currentSkills || []).map(s => ({\n  ...s,\n  infoHtml: stripHtml(s.infoHtml),\n}));\n\n// ===== System Prompt =====\nconst systemPrompt = `You are an expert resume and cover letter writer for tech jobs in Germany.\n\nYour goal is NOT to write nicely — your goal is to maximize interview callback rate.\n\nThe output MUST be strictly valid JSON.\n- No text before or after the JSON object\n- No comments\n- No trailing commas\n- No additional keys beyond the schema\n\n========================\nRESUME PATCH RULES\n========================\n\nGENERAL:\n- You MUST update work bullets AND skills in every response — patching only jobTitle/profile is not acceptable.\n- DO NOT invent tools, skills, or experience not present in the resume.\n- Reordering, trimming, and re-emphasis of existing content is always allowed and encouraged.\n- Each sentence must add new information — no filler, no repetition.\n- Avoid generic statements that could apply to any company or role.\n\nPROFILE (3–4 sentences):\n- Mention MSc Global Software Development (Hochschule Fulda, Germany)\n- Align current title to the job role\n- Highlight core tech stack matching the job description\n- Clearly state target role\n\nWORK EXPERIENCE:\n- REORDER bullets so the most JD-relevant ones appear FIRST.\n- DROP bullets with zero relevance to this specific JD.\n- Bullet count should reflect actual relevance: 6–8 for a highly matched role, 3–4 for a partial match, 1–2 if the entry is barely relevant.\n- Incorporate JD keywords ONLY when natural — prefer exact tool/tech wording for ATS.\n- Focus on technologies used and measurable impact.\n- Use action verbs: Built, Implemented, Optimized, Designed, Automated, Reduced, Delivered.\n- NEVER use: \"worked on\", \"responsible for\", \"helped with\", \"assisted\", \"was involved in\"\n\nSKILLS:\n- For Salesforce roles: reorder entries so the most JD-relevant categories appear first; update infoHtml content to match the JD.\n- For non-Salesforce roles (DevOps, backend, full-stack, etc.): rename the skill category labels to match the role domain.\n  Good category names: \"Backend Development\", \"Cloud & Infrastructure\", \"DevOps & CI/CD\", \"Programming Languages\", \"Databases & Tools\"\n  Bad category names: \"Agentforce and AI\", \"Salesforce Development\" (never use these for non-SF roles)\n- infoHtml MUST be a comma-separated list of 4–8 specific tools/technologies — never a single vague phrase.\n  Good: \"Jenkins CI/CD, GitHub Actions, Terraform, AWS (EC2, VPC, RDS), Docker\"\n  Bad: \"Cloud Infrastructure Management\"\n- Keep the same number of skill entries.\n\nCERTIFICATES:\n- Set \"showCertificates\": false in the patch if Salesforce certifications are not relevant to this role.\n  Apply this for DevOps, cloud infrastructure, general software development, backend, or any non-Salesforce role.\n\nSTRICT:\n- Keep all entry IDs exactly as given — never modify or omit them\n- Do not create new entries or sections\n- Do not remove existing entries\n- HTML formatting ONLY where required by schema\n\n========================\nCOVER LETTER RULES (GERMANY STYLE)\n========================\n\n- EXACTLY 3 paragraphs\n- 180–220 words total\n- Plain text only\n\nP1:\n- State role and company name\n- Mention MSc Hochschule Fulda (Germany)\n- Start with a strong, specific hook tied to relevant experience\n\nP2:\n- 2–3 concrete skills or project outcomes aligned with the job\n- Include specific technologies and results\n- No generic claims\n\nP3:\n- Clearly state availability (internship / Werkstudent / full-time)\n- Match jobType context\n- End with a confident and direct closing\n\nSTRICT:\n- No clichés: \"passionate\", \"excited\", \"team player\", \"fast learner\", \"driven\"\n- No greetings, no date, no subject line, no sign-off\n- No repetition of resume bullets\n- Avoid generic statements\n- Each sentence must add value\n- If job requires German and resume does not show it → do NOT claim German skills\n\n========================\nOUTPUT FORMAT (STRICT JSON)\n========================\n\n{\n  \"patch\": {\n    \"jobTitle\": \"string (omit if unchanged)\",\n    \"profile\": \"<p>...</p> (omit if no improvement)\",\n    \"showCertificates\": false,\n    \"work\": [\n      {\n        \"id\": \"existing-id\",\n        \"description\": \"<ul><li><p>...</p></li></ul>\"\n      }\n    ],\n    \"skills\": [\n      {\n        \"id\": \"existing-id\",\n        \"skill\": \"renamed category label (omit if Salesforce role or label is still appropriate)\",\n        \"infoHtml\": \"<p>Tool A, Tool B, Tool C, Tool D</p>\"\n      }\n    ]\n  },\n  \"coverLetter\": \"paragraph one\\\\n\\\\nparagraph two\\\\n\\\\nparagraph three\"\n}\n\n========================\nFINAL RULES\n========================\n\n- Always make at least one meaningful improvement if possible\n- Only return an empty patch if absolutely no improvement can be made\n- Ensure JSON is valid and parseable\n- Do not include any text outside the JSON object`;\n\n// ===== User Message =====\nconst workFormatted = workClean.map(w =>\n  `[ID: ${w.id}]\\n${w.employer} — ${w.jobTitle} (${w.startDate}–${w.endDate})\\n` +\n  w.description.split(/\\n+/).filter(s => s.trim()).map(b => `  • ${b.trim()}`).join('\\n')\n).join('\\n\\n');\n\nconst skillsFormatted = skillsClean.map(s =>\n  `[ID: ${s.id}] ${s.skill}: ${s.infoHtml}`\n).join('\\n');\n\nconst userMsg = `RESUME:\nTitle: ${item.resume?.currentJobTitle || ''}\nProfile: ${stripHtml(item.resume?.currentProfile || '')}\n\nWork Experience:\n${workFormatted}\n\nSkills:\n${skillsFormatted}\n\nJOB DETAILS:\nRole: ${item.title}\nCompany: ${item.company}\nLocation: ${item.location}\nSeniority: ${item.seniority || 'unspecified'}\nType: ${item.matchResult?.jobType || 'unknown'}\n\nJOB DESCRIPTION:\n${jdImportant}`;\n\n// ===== Final Output =====\nreturn {\n  json: {\n    ...item,\n    _openAIBody: {\n      model: 'gpt-4o-mini',\n      temperature: 0.55,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg },\n      ],\n    },\n  },\n};"
      },
      "id": "e4f379dd-08f3-4f83-8bc4-b1b2f8322939",
      "name": "13a. Build Tailor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23904,
        5584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._openAIBody) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "a8349baf-446f-463f-bd6f-73759c580af0",
      "name": "13b. OpenAI API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "position": [
        24128,
        5584
      ],
      "credentials": {
        "openAiApi": {
          "id": "wwjiHkXU7KZB6LWb",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Single combined AI call returns both patch and coverLetter\n\n// Current item = OpenAI HTTP response for this job\nconst aiResponse = $json;\n\n// Original job from 13a, matched by index\nconst jobData = $('13a. Build Tailor Prompt').item.json;\n\nlet patch = {};\nlet coverLetter = '';\n\ntry {\n  if (!aiResponse?.choices?.[0]?.message?.content) {\n    throw new Error('No choices in AI response — possible rate limit or API error');\n  }\n  const result = JSON.parse(aiResponse.choices[0].message.content);\n  patch = result.patch || {};\n  coverLetter = result.coverLetter || '';\n} catch (err) {\n  patch = { _error: 'AI parse failed: ' + err.message };\n  coverLetter = '';\n}\n\nconst rawParts = (coverLetter || '')\n  .split(/\\n\\n+/)\n  .map(p => p.trim())\n  .filter(p => p.length > 0);\n\nlet paragraph1 = rawParts[0] || '';\nlet paragraph2 = rawParts[1] || '';\nlet paragraph3 = rawParts[2] || '';\nlet _coverLetterWarning = '';\n\nif (rawParts.length === 0) {\n  _coverLetterWarning = 'AI returned empty cover letter';\n} else if (rawParts.length < 3) {\n  _coverLetterWarning = `Cover letter has ${rawParts.length} paragraph(s), expected 3`;\n  if (rawParts.length === 1 && rawParts[0].length > 100) {\n    const sentences = rawParts[0].split(/(?<=[.!?])\\s+(?=[A-Z\\u00C4\\u00D6\\u00DC])/);\n    if (sentences.length >= 3) {\n      const third = Math.floor(sentences.length / 3);\n      const p1 = sentences.slice(0, third).join(' ');\n      const p2 = sentences.slice(third, third * 2).join(' ');\n      const p3 = sentences.slice(third * 2).join(' ');\n      if (p1.length >= 40 && p2.length >= 40 && p3.length >= 40) {\n        paragraph1 = p1;\n        paragraph2 = p2;\n        paragraph3 = p3;\n        _coverLetterWarning += ' — recovered via sentence split';\n      }\n    }\n  }\n}\n\nreturn {\n  json: {\n    patch,\n    coverLetter,\n    paragraph1,\n    paragraph2,\n    paragraph3,\n    _coverLetterWarning,\n    job: {\n      source:          jobData.source || '',\n      title:           jobData.title || '',\n      company:         jobData.company || '',\n      location:        jobData.location || '',\n      url:             jobData.url || '',\n      applyUrl:        jobData.applyUrl || '',\n      postedAt:        jobData.postedAt || '',\n      salary:          jobData.salary || '',\n      jobType:         jobData.matchResult?.jobType || 'unknown',\n      matchConfidence: jobData.matchResult?.confidence || 0,\n      matchReason:     jobData.matchResult?.reason || '',\n    },\n  },\n};"
      },
      "id": "a6759d15-af1c-47de-84a3-274a8f771c1d",
      "name": "14. Parse AI Patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24352,
        5584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/generate-resume",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ patch: $json.patch, company: $json.job.company }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "984bcaf7-6ca2-4b7c-9828-45a65aa5aa44",
      "name": "15a. POST Generate Resume PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        24576,
        5584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const patchData = $('14. Parse AI Patch').item.json;\nconst resumeResult = $('15a. POST Generate Resume PDF').item.json;\n\n// Current item = cover letter HTTP response\nconst coverLetterResult = $json;\n\nconst now = new Date();\n\nreturn {\n  json: {\n    Date:               now.toISOString().slice(0, 10),\n    Company:            patchData.job.company || '',\n    Role:               patchData.job.title || '',\n    'Job Type':         patchData.job.jobType || '',\n    Location:           patchData.job.location || '',\n    Source:             patchData.job.source || '',\n    'Job URL':          patchData.job.url || '',\n    'Apply URL':        patchData.job.applyUrl || '',\n    'Match Confidence': patchData.job.matchConfidence || 0,\n    'Match Reason':     patchData.job.matchReason || '',\n    'Resume File':      resumeResult.file || '',\n    'Cover Letter File': coverLetterResult.file || '',\n    Status:             (resumeResult.success && coverLetterResult.success) ? 'Generated' : 'PDF Failed',\n    Applied:            'No',\n    Response:           '',\n    Interview:          '',\n    Notes:              patchData.patch?._error || patchData._coverLetterWarning || '',\n  },\n};"
      },
      "id": "0db02b01-571b-4c6b-b572-ea2df1f93d4a",
      "name": "16. Prepare Sheet Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25024,
        5584
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Confidence",
              "displayName": "Match Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume File",
              "displayName": "Resume File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter File",
              "displayName": "Cover Letter File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e46a129a-2ea0-4b6e-a893-5c4ccfe96157",
      "name": "17. Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        25248,
        5752
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const jobData = $json;\n\nconst now = new Date();\n\n// Distinguish 'no new jobs today' sentinel from a real unmatched job\nif (jobData.skipped) {\n  return {\n    json: {\n      Date:               now.toISOString().slice(0, 10),\n      Company:            '',\n      Role:               '',\n      'Job Type':         '',\n      Location:           '',\n      Source:             '',\n      'Job URL':          '',\n      'Apply URL':        '',\n      'Match Confidence': 0,\n      'Match Reason':     '',\n      'Resume File':      '',\n      'Cover Letter File': '',\n      Status:             'No New Jobs',\n      Applied:            'N/A',\n      Response:           '',\n      Interview:          '',\n      Notes:              jobData.message || ''\n    }\n  };\n}\n\nreturn {\n  json: {\n    Date:               now.toISOString().slice(0, 10),\n    Company:            jobData.company || '',\n    Role:               jobData.title || '',\n    'Job Type':         jobData.matchResult?.jobType || '',\n    Location:           jobData.location || '',\n    Source:             jobData.source || '',\n    'Job URL':          jobData.url || '',\n    'Apply URL':        jobData.applyUrl || '',\n    'Match Confidence': jobData.matchResult?.confidence || 0,\n    'Match Reason':     jobData.matchResult?.reason || '',\n    'Resume File':      '',\n    'Cover Letter File': '',\n    Status:             'Skipped - No Match',\n    Applied:            'N/A',\n    Response:           '',\n    Interview:          '',\n    Notes:              ''\n  }\n};"
      },
      "id": "9010fd15-9f84-46cc-a46b-663a3e4270d0",
      "name": "18a. Prepare Skip Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23904,
        5776
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18zaWmognkbpaZyVsdaSLLvlB_Mas7BWetOW0zZUuC58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Type",
              "displayName": "Job Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job URL",
              "displayName": "Job URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Confidence",
              "displayName": "Match Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume File",
              "displayName": "Resume File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter File",
              "displayName": "Cover Letter File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview",
              "displayName": "Interview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "13efd48a-ca9a-4cdc-a3eb-4b0bbf9c31fd",
      "name": "18b. Log Skipped to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        24128,
        5776
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPzI2flvEGQXgKIg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/IGjzUXKHqlsJaT58u/input",
          "mode": "url"
        },
        "customBody": "={\n  \"employmentType\": [\n    \"PERMANENT_POSITION\",\n    \"FIXED_TERM_CONTRACT\",\n    \"ENTRY_LEVEL_TRAINEE\",\n    \"STUDENT_JOB_WORKING_STUDENT\",\n    \"INTERNSHIP\"\n  ],\n  \"limit\": {{ $json.jobCount }},\n  \"startUrls\": [\n    \"{{ $json.stepstoneUrl }}\"\n  ],\n  \"domain\": \"stepstone.de\",\n  \"distanceFromSource\": \"30\",\n  \"workRemote\": [],\n  \"ApplicationType\": [],\n  \"listingLanguage\": [],\n  \"WorkingHours\": [],\n  \"experience\": [],\n  \"publishedDate\": \"\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        20992,
        5536
      ],
      "id": "f0cfdb21-9493-4394-9dfc-20796e6e1043",
      "name": "2c. Scrape StepStone",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/bYSAbQqxwImLaf2nb/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"Germany\",\n  \"datePosted\": \"3\",\n  \"deepSearch\": false,\n  \"includeNoSalaryJob\": true,\n  \"keywords\": [\n    \"Salesforce Developer\", \"Software Engineer\"\n  ],\n  \"location\": \"Germany\",\n  \"maxItems\": {{ $json.jobCount }},\n  \"saveOnlyUniqueItems\": false\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        20992,
        5728
      ],
      "id": "05de76e1-f3b8-4814-9633-9c4097f59a5a",
      "name": "2d. Scrape Glassdoor",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/YGO6eh6ICQXnan9L4/input",
          "mode": "url"
        },
        "customBody": "={\n  \"results_wanted\": {{ $json.jobCount }},\n  \"startUrl\": \"{{ $json.XingUrl }}\"\n}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        20992,
        5920
      ],
      "id": "476ef78f-b692-46b7-a7b0-1d49675bf783",
      "name": "2e. Scrape Xing",
      "credentials": {
        "apifyApi": {
          "id": "A8rjgHHUrR4qejQ1",
          "name": "Apify account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/generate-coverletter",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: $(\"14. Parse AI Patch\").item.json.job.title, company: $(\"14. Parse AI Patch\").item.json.job.company, companyAddress: $(\"14. Parse AI Patch\").item.json.job.location, paragraph1: $(\"14. Parse AI Patch\").item.json.paragraph1, paragraph2: $(\"14. Parse AI Patch\").item.json.paragraph2, paragraph3: $(\"14. Parse AI Patch\").item.json.paragraph3 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "8f52e70c-48b3-4bdb-8337-f3b1acab6079",
      "name": "15b. POST Generate Cover Letter PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        24800,
        5584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        22560,
        5752
      ],
      "id": "d31e42c8-e342-403f-bcb2-b8c22fcb79cd",
      "name": "9. Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        23008,
        5680
      ],
      "id": "4348a96a-f8e9-4bbd-b295-80e187446c64",
      "name": "10b. Wait",
      "webhookId": "4798fc68-5ccc-4194-8beb-8cf9be816efc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._groqBody) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2db16f2-adb0-46a8-aba6-ef3d3b08c46e",
      "name": "10c. Groq API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "position": [
        23232,
        5680
      ],
      "credentials": {
        "groqApi": {
          "id": "0h06hfXG29GT9ek8",
          "name": "Groq account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Daily 8am)": {
      "main": [
        [
          {
            "node": "1. Job Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Workflow": {
      "main": [
        [
          {
            "node": "1. Job Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Job Search URLs": {
      "main": [
        [
          {
            "node": "2a. Scrape LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "2b. Scrape Indeed",
            "type": "main",
            "index": 0
          },
          {
            "node": "2f. Read Applied Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "2c. Scrape StepStone",
            "type": "main",
            "index": 0
          },
          {
            "node": "2d. Scrape Glassdoor",
            "type": "main",
            "index": 0
          },
          {
            "node": "2e. Scrape Xing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2a. Scrape LinkedIn": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Scrape Indeed": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3. Wait for All Scrapers": {
      "main": [
        [
          {
            "node": "4. Normalize & Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Normalize & Merge Jobs": {
      "main": [
        [
          {
            "node": "5. Sync Jobs + Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2f. Read Applied Jobs": {
      "main": [
        [
          {
            "node": "2f.1. Ensure Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Filter Duplicates": {
      "main": [
        [
          {
            "node": "7. GET Resume Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. GET Resume Context": {
      "main": [
        [
          {
            "node": "8. Attach Resume to Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Attach Resume to Jobs": {
      "main": [
        [
          {
            "node": "9. Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Parse Match Result": {
      "main": [
        [
          {
            "node": "12. Is Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Is Match?": {
      "main": [
        [
          {
            "node": "13a. Build Tailor Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "18a. Prepare Skip Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Parse AI Patch": {
      "main": [
        [
          {
            "node": "15a. POST Generate Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15a. POST Generate Resume PDF": {
      "main": [
        [
          {
            "node": "15b. POST Generate Cover Letter PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16. Prepare Sheet Log": {
      "main": [
        [
          {
            "node": "17. Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18a. Prepare Skip Log": {
      "main": [
        [
          {
            "node": "18b. Log Skipped to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2f.1. Ensure Not Empty": {
      "main": [
        [
          {
            "node": "5. Sync Jobs + Sheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "5. Sync Jobs + Sheet": {
      "main": [
        [
          {
            "node": "6. Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10a. Build Match Prompt": {
      "main": [
        [
          {
            "node": "10b. Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13a. Build Tailor Prompt": {
      "main": [
        [
          {
            "node": "13b. OpenAI API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13b. OpenAI API Call": {
      "main": [
        [
          {
            "node": "14. Parse AI Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15b. POST Generate Cover Letter PDF": {
      "main": [
        [
          {
            "node": "16. Prepare Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2c. Scrape StepStone": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "2d. Scrape Glassdoor": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "2e. Scrape Xing": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "9. Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "10a. Build Match Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18b. Log Skipped to Sheets": {
      "main": [
        [
          {
            "node": "9. Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17. Log to Google Sheets": {
      "main": [
        [
          {
            "node": "9. Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b. Wait": {
      "main": [
        [
          {
            "node": "10c. Groq API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10c. Groq API Call": {
      "main": [
        [
          {
            "node": "11. Parse Match Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "416fda0e-d30c-499b-9ec1-c9a67ac238d2",
  "meta": {
    "instanceId": "ab1d9b83a326652825b037e9a6d1c825d6bec27701f2a3cac612c5b257bccc08"
  },
  "id": "ml6YUgWCLCaSrAHI",
  "tags": [
    {
      "updatedAt": "2026-03-28T15:57:18.737Z",
      "createdAt": "2026-03-28T15:57:18.737Z",
      "id": "4r1Bw6tRFDeWnIeE",
      "name": "resume-automation"
    },
    {
      "updatedAt": "2026-03-28T15:57:18.802Z",
      "createdAt": "2026-03-28T15:57:18.802Z",
      "id": "IdtMSQtdOfSH1th9",
      "name": "job-search"
    },
    {
      "updatedAt": "2026-03-28T15:57:18.755Z",
      "createdAt": "2026-03-28T15:57:18.755Z",
      "id": "IgGAlUqpZqAUlACh",
      "name": "ai-powered"
    }
  ]
}