data/skill_extraction.json
{
  "name": "Skill Extraction & Demand Analysis",
  "nodes": [
    {
      "parameters": {},
      "id": "9b0d4fee-a525-47a3-8ea8-d5c093c6c287",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        15568,
        10200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "se-cfg-01",
              "name": "linkedInUrl",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Salesforce%20Developer%20OR%20Software%20Developer%20OR%20Werkstudent%20Softwareentwicklung%20OR%20Junior%20Developer%20OR%20Backend%20Developer%20OR%20Frontend%20Developer%20OR%20Full%20Stack%20Developer%20OR%20DevOps%20Engineer%20OR%20Software%20Engineer&location=Germany&geoId=101282230&f_JT=F%2CP%2CC%2CI&f_E=1%2C2%2C3%2C4&f_TPR=r604800&f_WT=1%2C3%2C2&sortBy=DD&position=1&pageNum=0",
              "type": "string"
            },
            {
              "id": "se-cfg-02",
              "name": "indeedUrl",
              "value": "https://de.indeed.com/jobs?q=salesforce+developer+OR+software+developer+OR+werkstudent+softwareentwicklung+OR+junior+developer+OR+backend+developer+OR+frontend+developer+OR+full+stack+developer+OR+devops+engineer+OR+software+engineer&l=Deutschland&fromage=7&sort=date",
              "type": "string"
            },
            {
              "id": "se-cfg-03",
              "name": "stepstoneUrl",
              "value": "https://www.stepstone.de/jobs/salesforce-developer",
              "type": "string"
            },
            {
              "id": "se-cfg-04",
              "name": "XingUrl",
              "value": "https://www.xing.com/jobs/search?id=4921caec981101172481e48214f3f948&sort=date&employmentType=PART_TIME.58889d*INTERN.dc571c*FULL_TIME.ef2fe9&careerLevel=1.795d28*3.2ebf16",
              "type": "string"
            },
            {
              "id": "se-cfg-05",
              "name": "jobCount",
              "value": 50,
              "type": "number"
            },
            {
              "id": "se-cfg-06",
              "name": "skillExtractionModel",
              "value": "gpt-5.4-nano",
              "type": "string"
            },
            {
              "id": "se-cfg-07",
              "name": "openaiModel",
              "value": "gpt-5.4-mini",
              "type": "string"
            },
            {
              "id": "se-cfg-08",
              "name": "outputDir",
              "value": "/home/node/output/skill-reports",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2022d39e-4ad9-46dc-b564-b43ee8d0a817",
      "name": "1. Manual Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15792,
        10200
      ]
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input",
          "mode": "url"
        },
        "customBody": "={\n  \"count\": {{ $json.jobCount }},\n  \"scrapeCompany\": true,\n  \"urls\": [\"{{ $json.linkedInUrl }}\"]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        16016,
        9888
      ],
      "id": "8b89358b-e871-4ff2-82a6-a557a2996c37",
      "name": "2a. Scrape LinkedIn",
      "credentials": {
        "apifyApi": {
          "id": "SPJ1GyqMAc27hNQR",
          "name": "Apify khpatel"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/TrtlecxAsNRbKl1na/input",
          "mode": "url"
        },
        "customBody": "={\n  \"country\": \"de\",\n  \"limit\": {{ $json.jobCount }},\n  \"location\": \"Germany\",\n  \"title\": \"Salesforce Developer OR Software Developer OR Werkstudent Entwickler OR Junior Developer OR Backend Developer OR Frontend Developer OR Full Stack Developer OR DevOps Engineer OR Software Engineer\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        16016,
        10080
      ],
      "id": "be2476e8-f340-4b6a-88c9-b2cba9cbc5b2",
      "name": "2b. Scrape Indeed",
      "credentials": {
        "apifyApi": {
          "id": "SPJ1GyqMAc27hNQR",
          "name": "Apify khpatel"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/IGjzUXKHqlsJaT58u/input",
          "mode": "url"
        },
        "customBody": "={\n  \"employmentType\": [\n    \"PERMANENT_POSITION\",\n    \"FIXED_TERM_CONTRACT\",\n    \"ENTRY_LEVEL_TRAINEE\",\n    \"STUDENT_JOB_WORKING_STUDENT\",\n    \"INTERNSHIP\"\n  ],\n  \"limit\": {{ $json.jobCount }},\n  \"startUrls\": [\n    \"{{ $json.stepstoneUrl }}\"\n  ],\n  \"domain\": \"stepstone.de\",\n  \"distanceFromSource\": \"30\",\n  \"workRemote\": [],\n  \"ApplicationType\": [],\n  \"listingLanguage\": [],\n  \"WorkingHours\": [],\n  \"experience\": [],\n  \"publishedDate\": \"\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        16016,
        10272
      ],
      "id": "6a47a825-8ac6-46a8-8696-d1cca760cde0",
      "name": "2c. Scrape StepStone",
      "credentials": {
        "apifyApi": {
          "id": "SPJ1GyqMAc27hNQR",
          "name": "Apify khpatel"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/bYSAbQqxwImLaf2nb/input",
          "mode": "url"
        },
        "customBody": "={\n  \"keywords\": [\n    \"Salesforce Developer\",\n    \"Software Developer\",\n    \"Backend Developer\",\n    \"Frontend Developer\",\n    \"Full Stack Developer\",\n    \"DevOps Engineer\",\n    \"Software Engineer\",\n    \"Junior Developer\",\n    \"Werkstudent Softwareentwicklung\",\n    \"Web Developer\",\n    \"Cloud Engineer\",\n    \"Java Developer\",\n    \"Python Developer\",\n    \"JavaScript Developer\"\n  ],\n  \"location\": \"Germany\",\n  \"country\": \"Germany\",\n  \"datePosted\": \"7\",\n  \"saveOnlyUniqueItems\": true,\n  \"includeNoSalaryJob\": true,\n  \"deepSearch\": true,\n  \"maxItems\": {{ $json.jobCount }}\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        16016,
        10464
      ],
      "id": "83ff04f4-a518-44d0-9f9d-01afb74e78be",
      "name": "2d. Scrape Glassdoor",
      "credentials": {
        "apifyApi": {
          "id": "SPJ1GyqMAc27hNQR",
          "name": "Apify khpatel"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/YGO6eh6ICQXnan9L4/input",
          "mode": "url"
        },
        "customBody": "={\n  \"keyword\": \"Salesforce Developer OR Software Developer OR Backend Developer OR Frontend Developer OR Full Stack Developer OR DevOps Engineer OR Software Engineer OR Junior Developer OR Werkstudent Softwareentwicklung OR Web Developer OR Cloud Engineer OR Java Developer OR Python Developer OR JavaScript Developer\",\n  \"location\": \"Germany\",\n  \"results_wanted\": {{ $json.jobCount }},\n  \"max_pages\": 20\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        16016,
        10656
      ],
      "id": "ce6e9b66-9c61-4ae2-a42f-bd1784c082c9",
      "name": "2e. Scrape Xing",
      "credentials": {
        "apifyApi": {
          "id": "SPJ1GyqMAc27hNQR",
          "name": "Apify khpatel"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "f65d0664-6bc2-4d7f-982e-deb51e108358",
      "name": "3. Wait for All Scrapers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        16240,
        10224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// NORMALIZE & DEDUP — copied verbatim from Job_Application_Automator_v6.json\n// To add a new board: add an entry to BOARD_CONFIG, wire the\n// Apify node to this Code node, done. Nothing else changes.\n// ═══════════════════════════════════════════════════════════════\n\nconst BOARD_CONFIG = {\n  '2a. Scrape LinkedIn': {\n    source: 'LinkedIn',\n    fields: {\n      id:          'id',\n      title:       ['title', 'jobTitle'],\n      company:     ['companyName', 'company'],\n      location:    'location',\n      description: ['descriptionText', 'description'],\n      url:         ['link', 'url'],\n      applyUrl:    ['applyUrl', 'link'],\n      postedAt:    'postedAt',\n      salary:      'salary',\n      remote:      'workRemoteAllowed',\n      seniority:   ['seniorityLevel', 'seniority'],\n      country:     'country',\n    }\n  },\n  '2b. Scrape Indeed': {\n    source: 'Indeed',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     'employer.name',\n      location:    ['location.formattedLocation', 'location.city'],\n      description: 'description.text',\n      url:         ['url', 'jobUrl'],\n      applyUrl:    ['url', 'jobUrl'],\n      postedAt:    'datePublished',\n      salary:      null,\n      remote:      null,\n      seniority:   null,\n      country:     'location.countryCode',\n    }\n  },\n  '2c. Scrape StepStone': {\n    source: 'StepStone',\n    fields: {\n      id:          'id',\n      title:       'title',\n      company:     'company_details.company_name',\n      location:    'workplace_details.job_location',\n      description: 'content_details.full_description',\n      url:         'source.url',\n      applyUrl:    'detail_page.applying_details.applying_url',\n      postedAt:    'posting_details.published_at',\n      salary:      'compensation_details.detail_salary',\n      remote:      'workplace_details.work_arrangement',\n      seniority:   null,\n      country:     null,\n    }\n  },\n  '2d. Scrape Glassdoor': {\n    source: 'Glassdoor',\n    fields: {\n      id:          'key',\n      title:       'title',\n      company:     ['company.companyName', 'company.name', 'companyName', 'employer_name', 'employer'],\n      location:    ['location_city', 'location', 'location_country'],\n      description: 'description_text',\n      url:         'jobUrl',\n      applyUrl:    'applyUrl',\n      postedAt:    'datePublished',\n      salary:      null,\n      remote:      'remoteWorkTypes',\n      seniority:   null,\n      country:     null,\n    }\n  },\n  '2e. Scrape Xing': {\n    source: 'Xing',\n    fields: {\n      id:          'job_id',\n      title:       'title',\n      company:     'company',\n      location:    'location',\n      description: 'description_text',\n      url:         'url',\n      applyUrl:    'apply_url',\n      postedAt:    'date_posted',\n      salary:      'salary',\n      remote:      'remote',\n      seniority:   null,\n      country:     'location_country_code',\n    }\n  },\n};\n\nconst ALLOWED_COUNTRIES = new Set(['DE', 'AT', 'CH', 'NL', 'BE', '']);\n\nfunction getNestedValue(obj, path) {\n  if (!path) return undefined;\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined) ? o[k] : undefined, obj);\n}\n\nfunction resolveField(obj, mapping) {\n  if (mapping === null || mapping === undefined) return '';\n  if (Array.isArray(mapping)) {\n    for (const path of mapping) {\n      const val = getNestedValue(obj, path);\n      if (val !== undefined && val !== null && val !== '') return val;\n    }\n    return '';\n  }\n  return getNestedValue(obj, mapping) || '';\n}\n\nfunction extractSalary(obj, config) {\n  const raw = resolveField(obj, config.fields.salary);\n  if (raw && typeof raw === 'string' && raw.length > 0) return raw;\n  if (raw && typeof raw === 'object' && raw.min) {\n    const { min, max, currency, currencyIso, period } = raw;\n    return `${currency || currencyIso || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  if (obj.baseSalary && obj.baseSalary.min) {\n    const { min, max, currencyCode, unitOfWork } = obj.baseSalary;\n    return `${currencyCode || ''} ${min}-${max}/${unitOfWork || ''}`.trim();\n  }\n  if (obj.baseSalary_min) {\n    const { baseSalary_min: min, baseSalary_max: max, salary_currency: cur, salary_period: period } = obj;\n    return `${cur || ''} ${min}${max ? `-${max}` : ''}/${period || ''}`.trim();\n  }\n  return '';\n}\n\nfunction extractCompanyFromUrl(url) {\n  if (!url) return '';\n  const glassdoorMatch = String(url).match(/-at-([\\w-]+?)-JV_/i);\n  if (glassdoorMatch) {\n    return glassdoorMatch[1].replace(/-/g, ' ').trim();\n  }\n  return '';\n}\n\nconst jobs = [];\n\nfor (const [nodeName, config] of Object.entries(BOARD_CONFIG)) {\n  let items;\n  try {\n    items = $(nodeName).all();\n  } catch (e) {\n    continue;\n  }\n  if (!items || items.length === 0) continue;\n\n  for (const item of items) {\n    const d = item.json;\n    if (!d || typeof d !== 'object') continue;\n\n    const desc = String(resolveField(d, config.fields.description));\n    if (desc.length < 20) continue;\n\n    const country = String(resolveField(d, config.fields.country) || '').toUpperCase();\n    if (country && !ALLOWED_COUNTRIES.has(country)) continue;\n\n    const rawCompany = String(resolveField(d, config.fields.company));\n    jobs.push({\n      source:      config.source,\n      id:          String(resolveField(d, config.fields.id)),\n      title:       String(resolveField(d, config.fields.title)),\n      company:     rawCompany || extractCompanyFromUrl(resolveField(d, config.fields.url)) || 'Unknown Company',\n      location:    String(resolveField(d, config.fields.location)),\n      description: desc,\n      url:         String(resolveField(d, config.fields.url)),\n      applyUrl:    String(resolveField(d, config.fields.applyUrl)),\n      postedAt:    String(resolveField(d, config.fields.postedAt)),\n      salary:      extractSalary(d, config),\n      remote:      !!resolveField(d, config.fields.remote),\n      seniority:   String(resolveField(d, config.fields.seniority)),\n    });\n  }\n}\n\nconst seen = new Set();\nconst unique = [];\nfor (const job of jobs) {\n  const key = job.url || job.applyUrl || `${job.company}::${job.title}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(job);\n}\n\nif (unique.length === 0) {\n  return [{ json: { error: 'No valid jobs after normalize + dedup. Check Apify outputs and country filter.', rawCount: jobs.length } }];\n}\n\nreturn unique.map(j => ({ json: j }));"
      },
      "id": "b4a711da-6805-4d2c-aa0c-97b232ad77fc",
      "name": "4. Normalize & Merge Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16464,
        10272
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/context",
        "options": {
          "timeout": 10000
        }
      },
      "id": "a7b7f644-76dd-4ce2-b663-0965ed54c55b",
      "name": "5. GET Resume Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16912,
        10008
      ],
      "executeOnce": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16688,
        10368
      ],
      "id": "4f4c8708-5ba7-4aae-9d68-beedf4662678",
      "name": "6. Loop Over Jobs"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\nif (item.skipped || item.error) {\n  return { json: { ...item, _skip: true } };\n}\n\nconst systemPrompt = \"You are a senior tech-recruiting analyst extracting REQUIRED SKILLS from a single job posting.\\n\\nReturn ONLY valid JSON. No prose, no markdown.\\n\\nOutput schema:\\n{\\n  \\\"skills\\\": [\\n    { \\\"name\\\": \\\"...\\\", \\\"tier\\\": 1, \\\"evidence\\\": \\\"verbatim phrase from JD\\\", \\\"category\\\": \\\"language|framework|tool|platform|cloud|database|methodology|soft\\\" }\\n  ]\\n}\\n\\nTIER DEFINITIONS:\\n- Tier 1 (Core): The most common / must-have skills for this role family - listed under explicit hard requirements (\\\"required\\\", \\\"must have\\\", \\\"expert in\\\", \\\"strong knowledge of\\\"), or skills mentioned multiple times across the JD.\\n- Tier 2 (Strong): Less common but clearly valuable - listed under \\\"nice to have\\\", \\\"plus\\\", \\\"preferred\\\", \\\"wuenschenswert\\\", \\\"von Vorteil\\\", or mentioned once but tied to a major responsibility.\\n- Tier 3 (Edge): Rare differentiator - niche tools, certifications, domain-specific terms, or skills mentioned only in passing that signal sophistication.\\n\\nEXTRACTION RULES:\\n- Normalize names: \\\"ReactJS\\\" -> \\\"React\\\", \\\"AWS Cloud\\\" -> \\\"AWS\\\", \\\"K8s\\\" -> \\\"Kubernetes\\\", \\\"Node\\\" -> \\\"Node.js\\\", \\\"TypeScript (TS)\\\" -> \\\"TypeScript\\\", \\\"HTML5\\\" -> \\\"HTML\\\", \\\"CSS3\\\" -> \\\"CSS\\\", \\\"RESTful APIs\\\" -> \\\"REST\\\", \\\"CI/CD pipelines\\\" -> \\\"CI/CD\\\", \\\"Automated tests\\\" -> \\\"Automated Testing\\\", \\\"Unit tests\\\" -> \\\"Unit Testing\\\", \\\"Pull Requests (PRs)\\\" -> \\\"Pull Requests\\\".\\n- One entry per distinct skill. Do NOT duplicate.\\n- Skip generic adjectives (\\\"strong\\\", \\\"good\\\", \\\"experienced\\\"); skip company names, benefits, perks, salary.\\n- Skip pure soft skills (\\\"team player\\\", \\\"motivated\\\") UNLESS they are explicitly central to the role - in which case put them in Tier 3.\\n- evidence MUST be a verbatim phrase (<=120 chars) from the JD that triggered the inference. If the JD is in German, evidence stays German.\\n- Cap at 25 skills total per job. Prefer fewer high-quality entries over noise.\\n- If JD is too short or empty, return { \\\"skills\\\": [] }.\";\n\nconst jd = (item.description || '').replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n\nconst userMsg = [\n  'JOB:' ,\n  'Title: ' + (item.title || ''),\n  'Company: ' + (item.company || ''),\n  'Location: ' + (item.location || ''),\n  '',\n  'JOB DESCRIPTION:',\n  jd\n].join('\\n');\n\nreturn {\n  json: {\n    ...item,\n    _openAISkillBody: {\n      model: $('1. Manual Configuration').first().json.skillExtractionModel || 'gpt-5.4-nano',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg }\n      ],\n      temperature: 0.2,\n      response_format: { type: 'json_object' }\n    }\n  }\n};"
      },
      "id": "5016f68e-839c-404d-b1ca-54b9daeed3f8",
      "name": "7. Build Skill Extraction Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16912,
        10392
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        17136,
        10392
      ],
      "id": "d544ebea-376c-406d-a39d-e6f9bda56fcc",
      "name": "8. Wait (Rate Limit)",
      "webhookId": "skill-ext-wait-01"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._openAISkillBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "bf5116bf-2a23-46bb-99e4-1bf5444163b5",
      "name": "9. OpenAI Skill Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "position": [
        17360,
        10392
      ],
      "credentials": {
        "openAiApi": {
          "id": "wwjiHkXU7KZB6LWb",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const aiResponse = $json;\nconst jobData = $('7. Build Skill Extraction Prompt').item.json;\nconst { _openAISkillBody, ...cleanJob } = jobData;\n\nif (cleanJob._skip) {\n  return { json: { ...cleanJob, skills_extracted: [], _extractError: false } };\n}\n\nlet skills = [];\nlet extractError = false;\nlet errorMsg = '';\n\ntry {\n  if (aiResponse.error) {\n    extractError = true;\n    errorMsg = 'OpenAI API error: ' + (aiResponse.error.message || 'unknown');\n  } else {\n    const content = aiResponse.choices && aiResponse.choices[0] && aiResponse.choices[0].message && aiResponse.choices[0].message.content;\n    if (!content) throw new Error('No content in OpenAI response');\n    const parsed = JSON.parse(content);\n    skills = (parsed.skills || [])\n      .map(s => ({\n        name: String(s.name || '').trim(),\n        tier: Number(s.tier) || 3,\n        evidence: String(s.evidence || '').slice(0, 200),\n        category: String(s.category || 'tool')\n      }))\n      .filter(s => s.name.length > 1 && [1, 2, 3].includes(s.tier));\n  }\n} catch (err) {\n  extractError = true;\n  errorMsg = 'Parse error: ' + err.message;\n}\n\nreturn {\n  json: {\n    title: cleanJob.title,\n    company: cleanJob.company,\n    location: cleanJob.location,\n    url: cleanJob.url,\n    source: cleanJob.source,\n    skills_extracted: skills,\n    _extractError: extractError,\n    _extractErrorMsg: errorMsg\n  }\n};"
      },
      "id": "9970ac21-7c93-4613-a797-648297599cc4",
      "name": "10. Parse Skills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17584,
        10464
      ]
    },
    {
      "parameters": {
        "jsCode": "// The Split in Batches done output contains all parsed skill items.\nconst allItems = $input.all();\n\nconst TIER_WEIGHT = { 1: 3, 2: 2, 3: 1 };\nconst skillStats = {};\n\nlet jobsWithSkills = 0;\nlet jobsErrored = 0;\n\nfor (const it of allItems) {\n  const data = it.json;\n  if (data._extractError) jobsErrored += 1;\n  if (!Array.isArray(data.skills_extracted) || data.skills_extracted.length === 0) continue;\n  jobsWithSkills += 1;\n\n  for (const sk of data.skills_extracted) {\n    const key = sk.name.toLowerCase().trim();\n    if (!skillStats[key]) {\n      skillStats[key] = {\n        name: sk.name,\n        count: 0,\n        weighted: 0,\n        tiers: { 1: 0, 2: 0, 3: 0 },\n        category: sk.category,\n        job_titles: new Set(),\n        sources: new Set(),\n        sample_evidence: []\n      };\n    }\n    const e = skillStats[key];\n    e.count += 1;\n    e.weighted += TIER_WEIGHT[sk.tier] || 1;\n    e.tiers[sk.tier] = (e.tiers[sk.tier] || 0) + 1;\n    if (data.title) e.job_titles.add(data.title);\n    if (data.source) e.sources.add(data.source);\n    if (e.sample_evidence.length < 3 && sk.evidence) e.sample_evidence.push(sk.evidence);\n  }\n}\n\nconst ranked = Object.values(skillStats)\n  .map(e => {\n    const t1 = e.tiers[1], t2 = e.tiers[2], t3 = e.tiers[3];\n    const dominantTier = (t1 >= t2 && t1 >= t3) ? 1 : (t2 >= t3 ? 2 : 3);\n    return {\n      ...e,\n      job_titles: Array.from(e.job_titles),\n      sources: Array.from(e.sources),\n      dominantTier\n    };\n  })\n  .sort((a, b) => b.weighted - a.weighted || b.count - a.count);\n\nconst top10 = ranked.slice(0, 10);\n\nconst tierBuckets = { 1: [], 2: [], 3: [] };\nfor (const r of ranked) {\n  if (tierBuckets[r.dominantTier].length < 8) {\n    tierBuckets[r.dominantTier].push({\n      name: r.name,\n      count: r.count,\n      weighted: r.weighted,\n      sample_titles: r.job_titles.slice(0, 5),\n      sources: r.sources\n    });\n  }\n}\n\nreturn [{\n  json: {\n    total_jobs_analyzed: jobsWithSkills,\n    total_jobs_errored: jobsErrored,\n    total_skills_unique: ranked.length,\n    top10,\n    tierBuckets,\n    fullRanking: ranked.slice(0, 40)\n  }\n}];"
      },
      "id": "b48c67e8-ede7-459a-86c7-10e61c33498a",
      "name": "11. Aggregate Skills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16912,
        10200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const agg = $json;\nconst resumeItem = $('5. GET Resume Context').first();\nconst resume = (resumeItem && resumeItem.json && !resumeItem.json.error) ? resumeItem.json : {};\n\nfunction norm(s) {\n  return String(s || '').toLowerCase().replace(/[^a-z0-9+#.]/g, '');\n}\nfunction stem(s) {\n  return s.length > 4 && s.endsWith('s') ? s.slice(0, -1) : s;\n}\n\nconst ALIASES = {\n  'apex': ['apex', 'salesforceapex', 'apexprogramming'],\n  'rest': ['rest', 'restapi', 'restapis', 'restfulapi', 'restfulapis'],\n  'react': ['react', 'reactjs'],\n  'node.js': ['node', 'nodejs', 'node.js'],\n  'kubernetes': ['kubernetes', 'k8s'],\n  'typescript': ['typescript', 'ts'],\n  'aws': ['aws', 'awscloud', 'amazonwebservices'],\n  'ci/cd': ['cicd', 'cicdpipelines', 'cicdpipeline'],\n  'html': ['html', 'html5'],\n  'css': ['css', 'css3'],\n  'salesforce': ['salesforce', 'sfdc', 'salesforcedeveloper'],\n  'github actions': ['githubactions', 'githubci'],\n  'sql': ['sql', 'mysql', 'postgresql', 'postgres', 'mssql', 'sqlserver', 'plsql', 'tsql'],\n  'unit testing': ['unittesting', 'unittests', 'unittest'],\n  'automated testing': ['automatedtesting', 'automatedtests', 'testautomation'],\n  'code reviews': ['codereviews', 'codereview', 'codereviewing'],\n  'pull requests': ['pullrequests', 'pullrequest', 'prs'],\n  'agile': ['agile', 'agilemethodology', 'agilemethodologies', 'scrum'],\n  'salesforce certifications': ['salesforcecertifications', 'salesforcecertification', 'salesforcecertified'],\n  'visualforce': ['visualforce', 'vf'],\n  'apis': ['api', 'apis']\n};\n\nfunction tokenize(text, minLen) {\n  const parts = String(text || '').split(/[\\s()\\/,;|.:!?<>{}\\[\\]\"\\'`\\-]+/).filter(p => p.length >= (minLen || 1));\n  const out = [...parts];\n  for (let i = 0; i < parts.length - 1; i++) out.push(parts[i] + parts[i + 1]);\n  for (let i = 0; i < parts.length - 2; i++) out.push(parts[i] + parts[i + 1] + parts[i + 2]);\n  return out;\n}\n\nconst skillsList = (resume.currentSkills || []).flatMap(c => {\n  const details = (c.details || c.infoHtml || '').replace(/<[^>]+>/g, '');\n  return [c.skill, ...details.split(/[,;|]/)];\n}).map(s => (s || '').trim()).filter(Boolean);\n\nconst resumeSet = new Set();\nfunction addToSet(s) {\n  const n = norm(s);\n  if (!n) return;\n  resumeSet.add(n);\n  resumeSet.add(stem(n));\n}\n\n// Skills section: tokenise with minLen=1 (allow short skills like C, R, Go if listed)\nfor (const atom of skillsList) {\n  addToSet(atom);\n  for (const t of tokenize(atom, 1)) addToSet(t);\n}\n\n// Certificates: tokenise with minLen=1\nfor (const cert of (resume.currentCertificates || [])) {\n  for (const t of tokenize(cert, 1)) addToSet(t);\n}\n\n// Job title\nfor (const t of tokenize(resume.currentJobTitle, 1)) addToSet(t);\n\n// Free text (work / projects / profile): minLen=3 to avoid 'go', 'as', 'is' matching short skills\nfor (const w of (resume.currentWork || [])) {\n  const text = [w.description, w.jobTitle, w.employer].filter(Boolean).join(' ');\n  for (const t of tokenize(text, 3)) addToSet(t);\n}\nfor (const p of (resume.currentProjects || [])) {\n  const text = [p.description, p.techStack, p.name].filter(Boolean).join(' ');\n  for (const t of tokenize(text, 3)) addToSet(t);\n}\nfor (const t of tokenize(resume.currentProfile, 3)) addToSet(t);\n\n// Apply aliases (transitive — repeat until stable)\nlet changed = true;\nwhile (changed) {\n  changed = false;\n  for (const variants of Object.values(ALIASES)) {\n    if (variants.some(v => resumeSet.has(norm(v)) || resumeSet.has(stem(norm(v))))) {\n      for (const v of variants) {\n        const n = norm(v);\n        if (!resumeSet.has(n)) { resumeSet.add(n); changed = true; }\n        const sn = stem(n);\n        if (!resumeSet.has(sn)) { resumeSet.add(sn); changed = true; }\n      }\n    }\n  }\n}\n\nconst skillsIHave = [];\nconst skillsImMissing = [];\nfor (const s of agg.fullRanking) {\n  const n = norm(s.name);\n  const ns = stem(n);\n  const hit = resumeSet.has(n) || resumeSet.has(ns)\n    || (ALIASES[n] || []).some(v => resumeSet.has(norm(v)));\n  if (hit) skillsIHave.push(s.name);\n  else skillsImMissing.push(s.name);\n}\n\nconst systemPrompt = `You are a senior tech career strategist for a Salesforce / Software Developer based in Germany.\n\nYou will receive (1) the most in-demand skills extracted from a real batch of fresh job postings, ranked by frequency and tier weight, (2) the candidate's base resume, and (3) PRE-COMPUTED arrays of skills the candidate has vs is missing. Produce an actionable upskilling report.\n\nCRITICAL: Use the pre-computed skills_i_have and skills_im_missing arrays VERBATIM. Do not move skills between them. Do not add or remove entries. Matching has been done deterministically against skills, certifications, work history, and projects — your job is recommendation and prioritisation, not membership classification.\n\nReturn ONLY valid JSON in this EXACT shape (no prose outside the JSON):\n\n{\n  \"top10_recommendations\": [\n    {\n      \"skill\": \"name as it appears in the demand list\",\n      \"why_it_matters\": \"1-2 sentence justification grounded in the demand data\",\n      \"how_to_acquire\": \"CONCRETE plan: name actual courses, certifications, or projects. Include rough time/cost where possible.\"\n    }\n  ],\n  \"tier_summaries\": {\n    \"tier1\": \"1-2 sentence summary describing what kind of must-have skills appear in Tier 1 and which job-title clusters require them\",\n    \"tier2\": \"1-2 sentence summary of strong-but-less-common Tier 2 skills and example titles\",\n    \"tier3\": \"1-2 sentence summary of edge / differentiator Tier 3 skills and example titles\"\n  },\n  \"skills_i_have\": [ \"echo back the pre-computed have array verbatim\" ],\n  \"skills_im_missing\": [ \"echo back the pre-computed missing array verbatim\" ],\n  \"gap_closing_plan\": [\n    {\n      \"skill\": \"...\",\n      \"priority\": \"high\",\n      \"reason\": \"market demand × tier rationale (e.g. 'count=12, dominant tier 1 — top-3 skill in the batch')\",\n      \"first_step\": \"the single concrete action to take this week (be specific)\"\n    }\n  ]\n}\n\nPRIORITISATION FOR gap_closing_plan: order by (market frequency × tier weight). 'high' = appears in top 10 missing and dominant tier ≤ 2. 'medium' = appears top 11–25 OR tier 2/3 but high frequency. 'low' = niche differentiator.\n\nRecommend ONLY skills from the pre-computed skills_im_missing array for gap_closing_plan. Do NOT recommend a skill the candidate already has.\n\nFor how_to_acquire and first_step, be SPECIFIC. Vague advice is worthless.`;\n\nconst workSummary = (resume.currentWork || []).slice(0, 3).map(w =>\n  `- ${w.jobTitle || ''} at ${w.employer || ''}: ${(w.description || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').slice(0, 250)}`\n).join('\\n');\n\nconst projectSummary = (resume.currentProjects || []).slice(0, 6).map(p =>\n  `- ${p.name || ''} (${p.techStack || 'n/a'})`\n).join('\\n');\n\nconst certSummary = (resume.currentCertificates || []).map(c => `- ${c}`).join('\\n');\n\nconst topLines = agg.top10.map((s, i) =>\n  `${i + 1}. ${s.name} — count=${s.count}, weighted=${s.weighted}, T1=${s.tiers[1]} T2=${s.tiers[2]} T3=${s.tiers[3]}, sources: ${(s.sources || []).join(',') || 'n/a'}, sample titles: ${(s.job_titles || []).slice(0, 3).join(' | ')}`\n).join('\\n');\n\nconst fullLines = agg.fullRanking.map(s =>\n  `- ${s.name} (count=${s.count}, weighted=${s.weighted}, dominantTier=${s.dominantTier}, category=${s.category || 'n/a'}, sources=${(s.sources || []).join(',') || 'n/a'})`\n).join('\\n');\n\nconst userMsg = `MARKET DEMAND SUMMARY (${agg.total_jobs_analyzed} jobs analyzed)\n\nTOP 10 SKILLS BY WEIGHTED FREQUENCY:\n${topLines}\n\nFULL RANKING (top 40):\n${fullLines}\n\n=========================\nCANDIDATE RESUME\n=========================\nTitle: ${resume.currentJobTitle || 'Software Developer'}\nProfile (raw): ${(resume.currentProfile || '').replace(/<[^>]+>/g, ' ').slice(0, 400)}\n\nSkills already on resume:\n${skillsList.join(', ')}\n\nCertifications:\n${certSummary || '(none)'}\n\nRecent Work:\n${workSummary || '(none)'}\n\nProjects:\n${projectSummary || '(none)'}\n\n=========================\nPRE-COMPUTED MATCHING (USE VERBATIM)\n=========================\nskills_i_have (${skillsIHave.length}): ${skillsIHave.join(', ') || '(none)'}\nskills_im_missing (${skillsImMissing.length}): ${skillsImMissing.join(', ') || '(none)'}\n\nNow produce the JSON report described in the system instructions.`;\n\nreturn {\n  json: {\n    ...agg,\n    _resumePresent: Object.keys(resume).length > 0,\n    _precomputedHave: skillsIHave,\n    _precomputedMissing: skillsImMissing,\n    _openAIBody: {\n      model: $('1. Manual Configuration').first().json.openaiModel || 'gpt-5.4-mini',\n      temperature: 0.4,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMsg }\n      ]\n    }\n  }\n};"
      },
      "id": "4c92ec78-2b74-4822-9476-5f5e063c1134",
      "name": "12. Build Final Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17360,
        10104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._openAIBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "9c5e8865-6104-4222-bd07-99dd1dedc582",
      "name": "13. OpenAI Final Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 10000,
      "position": [
        17584,
        10104
      ],
      "credentials": {
        "openAiApi": {
          "id": "wwjiHkXU7KZB6LWb",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ai = $json;\nconst agg = $('12. Build Final Analysis Prompt').first().json;\nconst cfg = $('1. Manual Configuration').first().json;\n\nlet report = null;\nlet parseError = '';\ntry {\n  const content = ai.choices && ai.choices[0] && ai.choices[0].message && ai.choices[0].message.content;\n  if (!content) throw new Error('No content in OpenAI response');\n  report = JSON.parse(content);\n} catch (e) {\n  parseError = 'Failed to parse OpenAI output: ' + e.message;\n  report = {\n    top10_recommendations: [],\n    tier_summaries: { tier1: '', tier2: '', tier3: '' },\n    skills_i_have: [],\n    skills_im_missing: [],\n    gap_closing_plan: []\n  };\n}\n\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst dateStr = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())}`;\nconst timeStr = `${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\nconst fileBase = `skill-report-${dateStr}-${timeStr}`;\n\nconst tierTitleList = (bucket) => (bucket || []).map(t =>\n  `- **${t.name}** (count ${t.count}): ${t.sample_titles.join(' | ')}`\n).join('\\n');\n\nconst recList = (report.top10_recommendations || []).map((r, i) =>\n  `### ${i + 1}. ${r.skill}\\n\\n**Why it matters:** ${r.why_it_matters}\\n\\n**How to acquire:** ${r.how_to_acquire}\\n`\n).join('\\n');\n\nconst gapList = (report.gap_closing_plan || []).map((g, i) =>\n  `${i + 1}. **${g.skill}** — \\`${(g.priority || 'medium').toUpperCase()}\\` priority\\n   - **Reason:** ${g.reason}\\n   - **Start this week:** ${g.first_step}`\n).join('\\n\\n');\n\nconst topTable = agg.top10.map((s, i) =>\n  `| ${i + 1} | ${s.name} | ${s.count} | ${s.weighted} | ${s.tiers[1]} | ${s.tiers[2]} | ${s.tiers[3]} |`\n).join('\\n');\n\nconst markdown = `# Skill Demand Report\\n\\n**Generated:** ${now.toISOString()}\\n**Jobs analyzed:** ${agg.total_jobs_analyzed}\\n**Jobs with extraction errors:** ${agg.total_jobs_errored}\\n**Unique skills found:** ${agg.total_skills_unique}\\n${parseError ? `\\n> ⚠️ Final-analysis parse warning: ${parseError}\\n` : ''}\\n## Top 10 In-Demand Skills\\n\\n| Rank | Skill | Mentions | Weighted | Tier 1 | Tier 2 | Tier 3 |\\n|------|-------|----------|----------|--------|--------|--------|\\n${topTable}\\n\\n## Recommendations: How to Acquire the Top 10\\n\\n${recList || '_(none returned)_'}\\n\\n## Skill Tiers — What the Market Wants\\n\\n### Tier 1 — Core (must-have)\\n\\n${report.tier_summaries?.tier1 || ''}\\n\\nRepresentative job titles requiring Tier 1 skills:\\n${tierTitleList(agg.tierBuckets[1]) || '_(none)_'}\\n\\n### Tier 2 — Strong (less common but valuable)\\n\\n${report.tier_summaries?.tier2 || ''}\\n\\nRepresentative job titles:\\n${tierTitleList(agg.tierBuckets[2]) || '_(none)_'}\\n\\n### Tier 3 — Edge (differentiators)\\n\\n${report.tier_summaries?.tier3 || ''}\\n\\nRepresentative job titles:\\n${tierTitleList(agg.tierBuckets[3]) || '_(none)_'}\\n\\n## Resume Gap Analysis\\n\\n### Skills you HAVE (matching market demand)\\n\\n${(report.skills_i_have || []).map(s => `- ${s}`).join('\\n') || '_(none identified)_'}\\n\\n### Skills you're MISSING\\n\\n${(report.skills_im_missing || []).map(s => `- ${s}`).join('\\n') || '_(none identified)_'}\\n\\n### Gap-Closing Plan (prioritized by market demand × tier)\\n\\n${gapList || '_(no recommendations returned)_'}\\n\\n---\\n\\n_Generated by skill_extraction n8n workflow_\\n`;\n\nconst rawJson = JSON.stringify({\n  generated_at: now.toISOString(),\n  total_jobs_analyzed: agg.total_jobs_analyzed,\n  total_jobs_errored: agg.total_jobs_errored,\n  total_skills_unique: agg.total_skills_unique,\n  top10: agg.top10,\n  tierBuckets: agg.tierBuckets,\n  fullRanking: agg.fullRanking,\n  analysis: report\n}, null, 2);\n\nconst dirSep = (cfg.outputDir || '').includes('\\\\') ? '\\\\' : '/';\nconst basePath = (cfg.outputDir || 'output/skill-reports').replace(/[\\\\/]+$/, '') + dirSep + fileBase;\n\nreturn {\n  json: {\n    fileBase,\n    markdownPath: basePath + '.md',\n    jsonPath: basePath + '.json',\n    parseError,\n    summary: {\n      jobs: agg.total_jobs_analyzed,\n      uniqueSkills: agg.total_skills_unique,\n      top10: agg.top10.map(s => s.name)\n    }\n  },\n  binary: {\n    markdown: {\n      data: Buffer.from(markdown, 'utf8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: fileBase + '.md',\n      fileExtension: 'md'\n    },\n    rawJson: {\n      data: Buffer.from(rawJson, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: fileBase + '.json',\n      fileExtension: 'json'\n    }\n  }\n};"
      },
      "id": "620e5991-2766-4a92-87ec-684513f34c07",
      "name": "14. Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17808,
        10104
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.markdownPath }}",
        "dataPropertyName": "markdown",
        "options": {
          "append": false
        }
      },
      "id": "fdcf2eec-256c-40d5-859a-9560eab5cee5",
      "name": "15a. Write Markdown",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        18032,
        10008
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.jsonPath }}",
        "dataPropertyName": "rawJson",
        "options": {
          "append": false
        }
      },
      "id": "be7f1a90-c3eb-4af8-b06a-8c203dc247ad",
      "name": "15b. Write Raw JSON",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        18032,
        10200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-11p5-resume-001",
      "name": "11.5. Merge Resume",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        17136,
        10200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run Workflow": {
      "main": [
        [
          {
            "node": "1. Manual Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Manual Configuration": {
      "main": [
        [
          {
            "node": "2a. Scrape LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "2b. Scrape Indeed",
            "type": "main",
            "index": 0
          },
          {
            "node": "2c. Scrape StepStone",
            "type": "main",
            "index": 0
          },
          {
            "node": "2d. Scrape Glassdoor",
            "type": "main",
            "index": 0
          },
          {
            "node": "2e. Scrape Xing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2a. Scrape LinkedIn": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Scrape Indeed": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "2c. Scrape StepStone": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "2d. Scrape Glassdoor": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "2e. Scrape Xing": {
      "main": [
        [
          {
            "node": "3. Wait for All Scrapers",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "3. Wait for All Scrapers": {
      "main": [
        [
          {
            "node": "4. Normalize & Merge Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Normalize & Merge Jobs": {
      "main": [
        [
          {
            "node": "6. Loop Over Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. GET Resume Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. GET Resume Context": {
      "main": [
        [
          {
            "node": "11.5. Merge Resume",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "6. Loop Over Jobs": {
      "main": [
        [
          {
            "node": "11. Aggregate Skills",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7. Build Skill Extraction Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Build Skill Extraction Prompt": {
      "main": [
        [
          {
            "node": "8. Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "9. OpenAI Skill Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Parse Skills": {
      "main": [
        [
          {
            "node": "6. Loop Over Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Aggregate Skills": {
      "main": [
        [
          {
            "node": "11.5. Merge Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Build Final Analysis Prompt": {
      "main": [
        [
          {
            "node": "13. OpenAI Final Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. OpenAI Final Analysis": {
      "main": [
        [
          {
            "node": "14. Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Format Report": {
      "main": [
        [
          {
            "node": "15a. Write Markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "15b. Write Raw JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. OpenAI Skill Extraction": {
      "main": [
        [
          {
            "node": "10. Parse Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11.5. Merge Resume": {
      "main": [
        [
          {
            "node": "12. Build Final Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6552a9b5-6e23-4df8-b951-63ce779e1bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab1d9b83a326652825b037e9a6d1c825d6bec27701f2a3cac612c5b257bccc08"
  },
  "id": "vwmiPKpiTGoiJ0kF",
  "tags": []
}
